<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>The Girl Code</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/index.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/about.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/sub-pages.css">
</head>
<body>

	<header>
		<div class="logo">
			<a href="/"><img src="img/logo_trans.png"></a>
		</div>

		<nav>
			<a href="/about">
				<span>About</span>
			</a>
			<a href="/workshops">
				<span>Workshops</span>
			</a>
			<a href="#" class="show-submenu">
				<span>Platform</span>
			</a>
			<div class="submenu">
				<a href="/login">
					<span>Login</span>
				</a>
				<a href="/signup">
					<span>Sign Up</span>
				</a>
			</div>
		</nav>
	</header>

	<section class="description">
		<div class="container">
			<div class="big-quote column-12">
				<blockquote>
					&ldquo;Understand it well as I may, my comprehension can only be an infinitesimal fraction of all I want to understand&rdquo;
				</blockquote>
				<cite>Ada Lovelace</cite>
			</div>
		</div>
		<div class="container">
			<div class="desc-box column-4">
				<h3>Who we are</h3>
				<p>The Girl Code is a Non Profit Organization based in New Delhi,India and
				 Singapore,founded by two 16 year old girls from New Delhi(Japnit K. Ahuja 
				 and Samriddhi Agnihotri) It aims to introduce young girls to programming 
				 by hosting workshops at local schools.</p>
			</div>
			<div class="desc-box column-4">
				<h3>What we do</h3>
				<p>The Girl Code takes a step toward balancing the gender ratio in the tech 
				   industry by providing an online platform to girls to learn programming, 
				   and hosting workshops to reach out to young students. Our primary aim, 
				   is to instil in them the confidence that they <b> can </b> code.</p>
			</div>
			<div class="desc-box column-4">
				<h3>Why we do it</h3>
				<p>Only 11% programmers in the world are female. The IT industry is dominated 
					by men, with women seldom finding a place in it. This has caused women to
					believe that they <b> can’t </b> code–an absurd, but sad reality. At The 
					Girl Code, we’re <b> determined to change </b> this reality.</p>
			</div>
		</div>
	</section>
	<section class="timeline">
		<div class="timeline-items-container">
			<div class="timeline-item">
				<p class="desc">Idea of The Girl Code</p>
				<span class="date">September 2017</span>
			</div>
			<div class="timeline-item">
				<p class="desc">Our Platform</p>
				<span class="date">December 2017</span>
			</div>
			<div class="timeline-item">
				<p class="desc">Workshops at The Mother's International School</p>
				<span class="date">January 2018</span>
			</div>
			<div class="timeline-item">
				<p class="desc">Idea of #CodewithConfidence</p>
				<span class="date">February 2018</span>
			</div>
			<div class="timeline-item">
				<p class="desc">#CodewithConfidence starts</p>
				<span class="date">March 2018</span>
			</div>
			<div class="timeline-item">
				<p class="desc">End of #CodewithConfidence</p>
				<span class="date">April 2018</span>
			</div>
			<div class="timeline-item">
				<p class="desc">Workshops at The Gyan Bharati School</p>
				<span class="date">May 2018</span>
			</div>
			<div class="timeline-item">
				<p class="desc">YFC project funding, Singapore</p>
				<span class="date">June 2018</span>
			</div>
		</div>
	</section>
	<section class="cards">
		<div class="container">
			<div class="center">
				<h1>Meet the Team</h1>
			</div>
			<article class="card column-6 table">
				<a href="#" class="table">
					<article class="column-4 table-cell-center">
						<img src="img/anish.jpg" alt="meow">
					</article>
					<article class="column-8 table-cell-center">
						<div class="card-content">
							<h2>Japnit K. Ahuja</h2>
							<span>Co-Founder</span>
							<p>As Co-Founder, Japnit primarily oversees all operations  and is the head of the 
							Singapore chapter of The Girl Code. She’s pursuing computing at the National Junior College,Singapore.
							</p>
						</div>
					</article>
					<!-- .card-content -->
				</a>
			</article>
			<article class="card column-6 table">
				<a href="#" class="table">
					<article class="column-4 table-cell-center">
						<img src="img/anish.jpg" alt="meow">
					</article>
					<article class="column-8 table-cell-center">
						<div class="card-content">
							<h2>Samriddhi Agnihotri</h2>
							<span>Co-Founder</span>
							<p>As Co-Founder, Samriddhi oversees all operations and is the head of the Indian chapter of The Girl Code. She’s a student of The Mother’s International School,India.</p>
						</div>
					</article>
					<!-- .card-content -->
				</a>
			</article>
			<article class="card column-6 table">
				<a href="#" class="table">
					<article class="column-4 table-cell-center">
						<img src="img/anish.jpg" alt="meow">
					</article>
					<article class="column-8 table-cell-center">
						<div class="card-content">
							<h2>Anish Bajaj</h2>
							<span>Web Developer</span>
							<p>As Web Developer, Anish is incharge of front-end components of the website. He is a student of The Mother’s International School,India. </p>
						</div>
					</article>
					<!-- .card-content -->
				</a>
			</article>
			<article class="card column-6 table">
				<a href="#" class="table">
					<article class="column-4 table-cell-center">
						<img src="img/anish.jpg" alt="meow">
					</article>
					<article class="column-8 table-cell-center">
						<div class="card-content">
							<h2>Naman Sood</h2>
							<span>Web Developer</span>
							<p>As Web Developer, Naman is incharge of front-end and back-end components of the website. He is a student of The Delhi Public School Vasant Kunj,India.</p>
						</div>
					</article>
					<!-- .card-content -->
				</a>
			</article>
			<article class="card column-6 table">
				<a href="#" class="table">
					<article class="column-4 table-cell-center">
						<img src="img/anish.jpg" alt="meow">
					</article>
					<article class="column-8 table-cell-center">
						<div class="card-content">
							<h2>Srijon Sinha</h2>
							<span>Designer</span>
							<p>As Designer, Srijon looks after animations,illustrations,videos, and editing. He is a student of The Sri Ram School, India.</p>
						</div>
					</article>
					<!-- .card-content -->
				</a>
			</article>
			<article class="card column-6 table">
				<a href="#" class="table">
					<article class="column-4 table-cell-center">
						<img src="img/anish.jpg" alt="meow">
					</article>
					<article class="column-8 table-cell-center">
						<div class="card-content">
							<h2>Ameek Singh</h2>
							<span>Designer</span>
							<p>As Designer, Ameek looks after animations,illustrations,videos, and editing.He is a student of The Delhi Public School Vasant Kunj,India.</p>
						</div>
					</article>
					<!-- .card-content -->
				</a>
			</article>
			<article class="card column-6 table">
				<a href="#" class="table">
					<article class="column-4 table-cell-center">
						<img src="img/anish.jpg" alt="meow">
					</article>
					<article class="column-8 table-cell-center">
						<div class="card-content">
							<h2>Sidhant Bhavnani</h2>
							<span>Designer</span>
							<p>As Designer, Ameek looks after animations,illustrations,videos, and editing.He is a student of The Delhi Public School Vasant Kunj,India.</p>
						</div>
					</article>
					<!-- .card-content -->
				</a>
			</article>
			<article class="card column-6 table">
				<a href="#" class="table">
					<article class="column-4 table-cell-center">
						<img src="img/anish.jpg" alt="meow">
					</article>
					<article class="column-8 table-cell-center">
						<div class="card-content">
							<h2>Aru</h2>
							<span>Designer</span>
							<p>As Designer, Ameek looks after animations,illustrations,videos, and editing.He is a student of The Delhi Public School Vasant Kunj,India.</p>
						</div>
					</article>
					<!-- .card-content -->
				</a>
			</article>
			<article class="card column-6 table">
				<a href="#" class="table">
					<article class="column-4 table-cell-center">
						<img src="img/anish.jpg" alt="meow">
					</article>
					<article class="column-8 table-cell-center">
						<div class="card-content">
							<h2>Tishya</h2>
							<span>Designer</span>
							<p>As Designer, Ameek looks after animations,illustrations,videos, and editing.He is a student of The Delhi Public School Vasant Kunj,India.</p>
						</div>
					</article>
					<!-- .card-content -->
				</a>
			</article>
			<article class="card column-6 table">
				<a href="#" class="table">
					<article class="column-4 table-cell-center">
						<img src="img/anish.jpg" alt="meow">
					</article>
					<article class="column-8 table-cell-center">
						<div class="card-content">
							<h2>Dhimant</h2>
							<span>Designer</span>
							<p>As Designer, Ameek looks after animations,illustrations,videos, and editing.He is a student of The Delhi Public School Vasant Kunj,India.</p>
						</div>
					</article>
					<!-- .card-content -->
				</a>
			</article>
		</div>
	</section>

	<footer>
		<div class="container">
			<div class="row table">
				<div class="eight columns table-cell-center">
					<h5 class="">We need your help!</h5>
					<p class="">The Girl Code isn't just a platform. It's part of a societal revolution. This injustice has gone on long enough. It's time to evolve; it's time for a revolution.You can be a part of this revolution– help make things right. Help thousands of girls yearning to learn how to code.</p>
					<p class="">Email to <a href="mailto:contact@thegirlcode.co">contact@thegirlcode.co</a> or just fill up this form.</p>
				</div>

				<div class="four columns do center table-cell-center">
					<p>Powered by</p>
					<a href="https://www.digitalocean.com/">
					<img src="img/do.png">
					</a>
				</div>
			</div>
		</div>
	</footer>


	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="/javascripts/index.js"></script>
</body>
</html>
