<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>The Girl Code</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/index.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/about.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/sub-pages.css">
</head>
<body>

	<header>
		<div class="logo">
			<img src="img/logo_trans.png">
		</div>

		<nav>
			<a href="/about">
				<span>About</span>
			</a>
			<a href="/workshops">
				<span>Workshops</span>
			</a>
			<a href="#" class="show-submenu">
				<span>Platform</span>
			</a>
			<div class="submenu">
				<a href="/login">
					<span>Login</span>
				</a>
				<a href="/signup">
					<span>Sign Up</span>
				</a>
			</div>
		</nav>
	</header>

	<section class="mast about-mast">
		<div class="container">
			<h1>About</h1>
		</div>
	</section>
	<section class="description">
		<div class="container">
			<div class="desc-box column-4">
				<h3>Who we are</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
			</div>
			<div class="desc-box column-4">
				<h3>Where we are</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
			</div>
			<div class="desc-box column-4">
				<h3>How we are</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
			</div>
		</div>
	</section>
	<section class="cards">
		<div class="container">
			<div class="center">
				<h1>Meet the Team</h1>
			</div>
			<article class="card column-6 table">
				<a href="#" class="table">
					<article class="column-4 table-cell-center">
						<img src="img/anish.jpg" alt="meow">
					</article>
					<article class="column-8 table-cell-center">
						<div class="card-content">
							<h2>Anish Bajaj</h2>
							<span>Web Developer</span>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum explicabo consequatur consectetur fugit molestias perferendis, sint error iste ut, facilis sunt natus optio dolor nesciunt laboriosam obcaecati corporis numquam.</p>
						</div>
					</article>
					<!-- .card-content -->
				</a>
			</article>
			<article class="card column-6 table">
				<a href="#" class="table">
					<article class="column-4 table-cell-center">
						<img src="img/anish.jpg" alt="meow">
					</article>
					<article class="column-8 table-cell-center">
						<div class="card-content">
							<h2>Anish Bajaj</h2>
							<span>Bae</span>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum explicabo consequatur consectetur fugit molestias perferendis, sint error iste ut, facilis sunt natus optio dolor nesciunt laboriosam obcaecati corporis numquam.</p>
						</div>
					</article>
					<!-- .card-content -->
				</a>
			</article>
			<article class="card column-6 table">
				<a href="#" class="table">
					<article class="column-4 table-cell-center">
						<img src="img/anish.jpg" alt="meow">
					</article>
					<article class="column-8 table-cell-center">
						<div class="card-content">
							<h2>Anish Bajaj</h2>
							<span>Bae</span>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum explicabo consequatur consectetur fugit molestias perferendis, sint error iste ut, facilis sunt natus optio dolor nesciunt laboriosam obcaecati corporis numquam.</p>
						</div>
					</article>
					<!-- .card-content -->
				</a>
			</article>
			<article class="card column-6 table">
				<a href="#" class="table">
					<article class="column-4 table-cell-center">
						<img src="img/anish.jpg" alt="meow">
					</article>
					<article class="column-8 table-cell-center">
						<div class="card-content">
							<h2>Anish Bajaj</h2>
							<span>Bae</span>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum explicabo consequatur consectetur fugit molestias perferendis, sint error iste ut, facilis sunt natus optio dolor nesciunt laboriosam obcaecati corporis numquam.</p>
						</div>
					</article>
					<!-- .card-content -->
				</a>
			</article>
			<article class="card column-6 table">
				<a href="#" class="table">
					<article class="column-4 table-cell-center">
						<img src="img/anish.jpg" alt="meow">
					</article>
					<article class="column-8 table-cell-center">
						<div class="card-content">
							<h2>Anish Bajaj</h2>
							<span>Bae</span>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum explicabo consequatur consectetur fugit molestias perferendis, sint error iste ut, facilis sunt natus optio dolor nesciunt laboriosam obcaecati corporis numquam.</p>
						</div>
					</article>
					<!-- .card-content -->
				</a>
			</article>
			<article class="card column-6 table">
				<a href="#" class="table">
					<article class="column-4 table-cell-center">
						<img src="img/anish.jpg" alt="meow">
					</article>
					<article class="column-8 table-cell-center">
						<div class="card-content">
							<h2>Anish</h2>
							<span>Bae</span>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum explicabo consequatur consectetur fugit molestias perferendis, sint error iste ut, facilis sunt natus optio dolor nesciunt laboriosam obcaecati corporis numquam.</p>
						</div>
					</article>
					<!-- .card-content -->
				</a>
			</article>
		</div>
	</section>

	<footer>
		<div class="container">
			<div class="row table">
				<div class="eight columns table-cell-center">
					<h5 class="">Footer Content</h5>
					<p class="">You can use rows and columns here to organize your footer content.</p>
				</div>

				<div class="four columns do center table-cell-center">
					<p>Powered by</p>
					<img src="img/do.png">
				</div>
			</div>
		</div>
	</footer>

</body>
</html>
