<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/master.css" media="screen" title="no title">
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdnicon.net/i/debe7fa939b1329124ffb5faa54965c3/css/fontello.css">
    <link rel="stylesheet" href="http://cdnicon.net/i/debe7fa939b1329124ffb5faa54965c3/css/animation.css">
    <!--[if IE 7]>
    <link rel="stylesheet" href="http://cdnicon.net/i/debe7fa939b1329124ffb5faa54965c3/css/fontello-ie7.css">
    <![endif]-->
    <title>The Girl Code</title>
    <link rel="icon" href="/img/logo_trans.png">
  </head>
  <body>

    <!-- header -->
    <header class="navbar">
      <span class="logo">
        <div class="hamburger"></div>
        <img src="/img/logo_trans.png">
      </span>
      <nav class="close">
        <a href="/">Home</a>
        <a href="/course">About</a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSc_nf316jn5S3kPvZOYUZmjM3TQq-X49u9CnsfB99tHLhdWmw/viewform">Register</a>
      </nav>
    </header>
    <!-- header end -->

   
   <!-- Online Platform -->
    <section class="alexa">
      <div class="container">
        <div class="row">
          <div class="col-md-6 text">
            <h1>Meet Eve</h1>
            <p> Greetings, code enthusiasts! </p>
            <p>My name is <b>Eve</b> and I'll help guide you through the adventurous journey that lies before you. </p>
            <p>Learning a new science can seem daunting, but, you mustn't shy away! I will be with you through every step of the journey...and before you know it, you'll be a skilled programmer! </p>
          </div>
          <div class="col-md-6 imgContainer">
            <img src="/img/avatar_white.png"  class="eve">
          </div>
        </div>
      </div>
    </section>
    <!-- Online Platform end -->


<!-- Mentors-->
<section class="compiler dark">
      <div class="container">
          <div class="row">
            <div class="col-md-4 imgContainer">
              <img src="/img/mentor.png"  class="eve">
            </div>
            <div class="col-md-8 text">
              <h2>Mentors</h2>
              <p>A crucial part of our platform is the role of the Mentors. Mentors will  predominantly be student volunteers from grade 11 and 12, well acquainted with Python. A set of 5 students will each be assigned a Mentor, who will help guide them through their journey of learning Python, and will also act as a confidant and a friend. Mentors will also give direction and viable outlets to eavh student, to help them pursue whichever Computer Science field they wish to. The Mentor-Mentee bond would transcend simple coding doubts to one of true understanding and friendship. 
              </p>
            </div>
          
        </div>
      </div>
    </section>
    <!-- mentors end -->
     

    <!-- community -->
    <section class="Profiles">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text">
            <h2>Community</h2>
            <p>
              
            One of our most crucial aims is to build a sisterhood of sorts, comprising all our students seeking to learn how to code and Mentors. This community would expose our students to a like-minded group of their peers which will help inspire and motivate them. Our sisterhood will be a tight knit community and, would act as a safe haven for girls to share absolutely anything they wish to-reiterating a sense of belonging and positivity. 

            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- community end -->

    <!-- workshops -->
   <section class="compiler dark">
      <div class="container">
          <div class="row">
            <div class="col-md-6 text">
              <h2>Workshops</h2>
              <p>
                We will organise monthly workshops, held at a school over two weeks. We’ll intimately acquaint them with Python on our online platform.
                Through our workshops, we will aim to instill an inherent sense of <b>confidence, compatibility </b> and <b> capability</b> in our students.
              </p>
            </div>
            <div class="col-md-6 imgContainer">
              <img src="/img/workshop.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- workshops end -->
    
    <!-- Social Footer -->
     <section class="footer">
      <center>
        <h1>
          <a href="https://m.facebook.com/girlscancodetoo/"><i class="icon-facebook-official"></i></a>
          <a href="https://twitter.com/TheGirlCode5"><i class="icon-twitter"></i></a>
          <a href="https://www.instagram.com/thegirlcode5/"><i class="icon-instagram"></i></a>
          <a href="https://medium.com/@girlscodetoo"><i class="icon-medium"></i></a>
          <a href="https://github.com/thegirlcode"><i class="icon-github-circled"></i></a>
        </h1>
      </center>
    </section>
    <!-- Social Footer end -->
    <script src="/javascripts/nav.js"></script>
  </body>
</html>
