<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="shortcut icon" type="image/png" href="/favicon.png"/>
	<title>The Girl Code</title>
	<link rel="stylesheet" href="/stylesheets/main.css">
	<link rel="stylesheet" href="/stylesheets/sub-pages.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/skeleton.css">
	<link rel="stylesheet" href="/stylesheets/dash.css">
	<link rel="stylesheet" href="https://use.typekit.net/hjk6uuj.css">
</head>
<body>

<section class="mast">
	<div class="container" style="text-align:center;">
		<h1 style="font-size:400%;">Hello, {{user}}! </h1>
		<p>You have {{points}} points.</p>
		<div class="progress-bar">
			<div class="progress" data-points="{{points}}" data-max="100"></div>
		</div>
		<div class="cta-container">
			<a href="/levels/{{nextLevel}}" class="cta-button">start</a>
			<a href="/users/logout" class="cta-button-outline">logout</a>
		</div>
	</div>


</section>

<!-- Start timeline -->
<section class="timeline">
	<div class="switcher">
		<a class="switcher-link active" href="#">Learn</a>
		<a class="switcher-link" href="/training">Train</a>
	</div>
	<section id="cd-timeline" class="cd-container">
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-{{solvedColors.l0}}">
				<img src="img/icons/004-heart.svg" alt="Picture">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Level 0</h2>
				<a href="/levels/0" class="cd-read-more">Start</a>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-{{solvedColors.l1}}">
				<img src="img/icons/004-heart.svg" alt="Picture">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Level 1</h2>
				<a href="/levels/1" class="cd-read-more">Start</a>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-{{solvedColors.l2}}">
				<img src="img/icons/011-print.svg" alt="Movie">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Level 2</h2>
				<a href="/levels/2" class="cd-read-more">Start</a>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-{{solvedColors.l3}}">
				<img src="img/icons/012-archive.svg" alt="Picture">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Level 3</h2>
				<a href="/levels/3" class="cd-read-more">Start</a>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-{{solvedColors.l4}}">
				<img src="img/icons/003-usb-input.svg" alt="Location">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Level 4</h2>
				<a href="/levels/4" class="cd-read-more">Start</a>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-{{solvedColors.l5}}">
				<img src="img/icons/010-calculator.svg" alt="Location">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Level 5</h2>
				<a href="/levels/5" class="cd-read-more">Start</a>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-{{solvedColors.l6}}">
				<img src="img/icons/009-rope.svg" alt="Movie">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Level 6</h2>
				<a href="/levels/6" class="cd-read-more">Start</a>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-{{solvedColors.l7}}">
				<img src="img/icons/007-binary-code.svg" alt="Movie">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Level 7</h2>
				<a href="/levels/7" class="cd-read-more">Start</a>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-{{solvedColors.l8}}">
				<img src="img/icons/002-algorithm.svg" alt="Movie">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Level 8</h2>
				<a href="/levels/8" class="cd-read-more">Start</a>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-{{solvedColors.l9}}">
				<img src="img/icons/008-ensamble-of-circles.svg" alt="Movie">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Level 9</h2>
				<a href="/levels/9" class="cd-read-more">Start</a>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-{{solvedColors.l10}}">
				<img src="img/icons/013-list.svg" alt="Movie">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Level 10</h2>
				<a href="/levels/10" class="cd-read-more">Start</a>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-{{solvedColors.l11}}">
				<img src="img/icons/006-progress-arrows.svg" alt="Movie">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Level 11</h2>
				<a href="/levels/11" class="cd-read-more">Start</a>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-{{solvedColors.l12}}">
				<img src="img/icons/006-progress-arrows.svg" alt="Movie">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Level 12</h2>
				<a href="/levels/12" class="cd-read-more">Start</a>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-{{solvedColors.l13}}">
				<img src="img/icons/005-function.svg" alt="Movie">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Level 13</h2>
				<a href="/levels/13" class="cd-read-more">Start</a>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-{{solvedColors.l14}}">
				<img src="img/icons/005-function.svg" alt="Movie">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Level 14</h2>
				<a href="/levels/14" class="cd-read-more">Start</a>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-{{solvedColors.l15}}">
				<img src="img/icons/005-function.svg" alt="Movie">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Level 15</h2>
				<a href="/levels/15" class="cd-read-more">Start</a>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-{{solvedColors.l16}}">
				<img src="img/icons/005-function.svg" alt="Movie">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Level 16</h2>
				<a href="/levels/16" class="cd-read-more">Start</a>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-{{solvedColors.l17}}">
				<img src="img/icons/005-function.svg" alt="Movie">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Level 17</h2>
				<a href="/levels/17" class="cd-read-more">Start</a>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-{{solvedColors.l18}}">
				<img src="img/icons/005-function.svg" alt="Movie">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Level 18</h2>
				<a href="/levels/18" class="cd-read-more">Start</a>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
</section>
<!-- Stop timeline -->

<style>

.progress-bar {
	width: 600px;
	height: 5px;
	background: #eee;
	margin: 2rem auto;
}

.progress-bar .progress {
	background: #f5658a;
	height: 100%;
	width: 0%;
	transition: all 0.1s ease-in-out;
}

</style>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/javascripts/dash.js"></script>

<script>

var message = '{{message}}';

if(message) alert(message);

</script>

</body>
</html>
