<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>The Girl Code</title>
	<link rel="shortcut icon" type="image/png" href="/favicon.png"/>
	<link rel="stylesheet" type="text/css" href="stylesheets/skeleton.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/index.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.typekit.net/pme3yyf.css">
</head>
<body>

<ul class='social'>
  <li>
    <a class="fa fa-facebook" href="https://www.facebook.com/girlscancodetoo/">    
      <span>Facebook</span>
    </a> 
  </li>
  
  <li>
    <a class="fa fa-twitter" href="https://twitter.com/TheGirlCode5">
      <span>Twitter</span>
    </a>
  </li>
  
  <li>
    <a class="fa fa-instagram" href="https://www.instagram.com/thegirlcode2018/">
      <span>Instagram</span>
    </a>
  </li>
  
  <li>
    <a class="fa fa-medium" href="https://medium.com/@girlscodetoo">
    <span>Medium</span>
    </a> 
  </li>
  
</ul>

	<div class="twelve columns masthead">
		<header>
			<div class="me">
				<div class="logo">
					<a href="/index"><img src="img/logo_trans.png"></a>
				</div>

				<nav>
					<a href="/about">
						<span>About</span>
					</a>
					<a href="/workshops">
						<span>Workshops</span>
					</a>
					<a href="#" class="show-submenu">
						<span>Platform</span>
					</a>
					<div class="submenu">
						<a href="/login">
							<span>Login</span>
						</a>
						<a href="/signup">
							<span>Sign Up</span>
						</a>
					</div>
				</nav>
			</div>
		</header>


		<div class="header-bottom" style="background-image: url('img/five.jpg'); overflow: hidden;">             
			<div class="hero">                 
				<div class="hero-inner row">
					<div class="hero-copy expanded">
						<div class="hero-copy-content">
							<h1 id="page-title" class="page-title"><span style="font-weight: 300; color: #fff">Welcome to</span> The Girl Code</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<section class="mission">				
			<div></div>
			<h2>Mission</h2>
			<div class="line"></div>

		<div class="wrapper">
			<div class="block text">
				<p> At The Girl Code, we aim to inspire young girls with the confidence that they <b>can</b> code. By teaching them Python through fun and interactive media, and exposing them to a community of like minded young girls, our platform will help give rise to female programmers set to take the IT world by storm. </p>
			</div>
		</div>
	</section>


	<section class="mission dark">				
			<div></div>
			<h3>Introducing <span style="font-family: 'Pacifico', cursive; color: #f76592">#CodewithConfidence</span></h3>

			<div class="media-container">
			<div class="cwc-video">
				<iframe src="https://www.youtube.com/embed/3pGjy2ALsEk"  allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
		</div>	
	</section>

	

	<section class="two-cols">
		<div class="media-container">
			<img src="img/missionstatementt.png">
		</div>

		<div class="text-container">			
				<div></div>
				<h1>#CodewithConfidence</h1>
				<div class="line"></div>

			<div class="wrapper">
				<div class="block text">
					<p>The Girl Code launched a video campaign titled, "Code with Confidence," wherein female programmers from around the world shared their programming journey in order to inspire young girls. Visit <a href="https://www.instagram.com/thegirlcode2018/"> @thegirlcode2018</a> to watch it.</p>
				</div>
			</div>
		</div>
	</section>

	<section class="what-we-do dark">
		<div class="container">
			<div class="row table">
				<div class="columns four">
					<h4>Confidence</h4>
					<div class="line"></div>
					<img src="/img/Confidence-01.png">
					<p>The crux of the lack of female programmers, is a lack of confidence. The IT industry is dominated by men; women are told they don’t fit in.We aim to inculcate confidence in our students, propelling them to break barriers, and achieve great things.</p>
				</div>
				<div class="columns four">
					<h4>Curiosity</h4>
					<div class="line"></div>
					<img src="/img/brain.png">
					<p>The Girl Code aims to arouse curiosity in our students. Their curiosity on how Facebook, Instagram, the Internet work develops an interest in the subject; interest helps motivate and inspire them to work harder and improve themselves. </p>
				</div>
				<div class="columns four">
					<h4>Community</h4>
					<div class="line"></div>
					<img src="/img/world.png">
					<p>The Girl Code seeks to build a tight–knit community of young female programmers, always there to support, motivate, and inspire each other. A community of their peers also helps our students be more comfortable and confident.</p>
				</div>
			</div>
		</div>
	</section>

<!-- 	<section class="two-cols">	
		<div class="text-container">			
				<div></div>
				<h1>Confidence</h1>
				<div class="line"></div>

			<div class="wrapper">
				<div class="block text">
					<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
				</div>
			</div>
		</div>

		<div class="media-container">
			<img src="img/mentor.png">
		</div>
	</section>


	<section class="two-cols">
		<div class="media-container">
			<img src="img/community.png">
		</div>

		<div class="text-container">			
				<div></div>
				<h1>Sisterhood</h1>
				<div class="line"></div>

			<div class="wrapper">
				<div class="block text">
					<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
				</div>
			</div>
		</div>
	</section> -->

	<footer>
		<div class="container">
			<div class="row table">
				<div class="eight columns table-cell-center">
					<h5 class="">We need your help!</h5>
					<p class="">The Girl Code isn't just a platform. It's part of a societal revolution. This injustice has gone on long enough. It's time to evolve; it's time for a revolution.You can be a part of this revolution– help make things right. Help thousands of girls yearning to learn how to code.</p>
					<p class="">Email to <a href="mailto:contact@thegirlcode.co">contact@thegirlcode.co</a> or just fill up this <a href="https://docs.google.com/forms/d/e/1FAIpQLSeJyonszAh1S5bBF-fSVh9ZY7I4vYyfpPPc_nHAXtwBBlGWHA/viewform">form</a>.</p>
				</div>

				<div class="four columns do center table-cell-center">
					<p>Powered by</p>
					<a href="https://www.digitalocean.com/">
					<img src="img/do.png">
					</a>
				</div>
			</div>
		</div>
	</footer>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="/javascripts/index.js"></script>


</body>
</html>