<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>The Girl Code</title>
	<script type="text/javascript" href="index.js"></script>
	<link rel="stylesheet" type="text/css" href="stylesheets/index.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<ul class='social'>
  <li>
    <a class="fa fa-facebook" href="#">    
      <span>Facebook</span>
    </a> 
  </li>
  
  <li>
    <a class="fa fa-twitter" href="#">
      <span>Twitter</span>
    </a>
  </li>
  
  <li>
    <a class="fa fa-instagram" href="#">
      <span>Instagram</span>
    </a>
  </li>
  
  <li>
    <a class="fa fa-medium" href="#">
    <span>Medium</span>
    </a> 
  </li>
  
</ul>

	<div class="twelve columns masthead">
		<header>
			<div style="display: contents" class="me">
				<div class="logo">
					<img src="img/logo_trans.png">
				</div>

				<nav>
					<a href="/login">
						<span>Login</span>
					</a>
					<a href="/signup">
						<span>Sign Up</span>
					</a>
					<a href="/about">
						<span>About</span>
					</a>
					<a href="/workshops">
						<span>Workshops</span>
					</a>
				</nav>
			</div>
		</header>


		<div class="header-bottom" style="background-image: url('img/three.jpg'); overflow: hidden;">             
			<div class="hero">                 
				<div class="hero-inner row">
					<div class="hero-copy expanded">
						<div class="hero-copy-content">
							<h1 id="page-title" class="page-title"><span style="font-weight: 300; color: #fff">Welcome to</span> The Girl Code</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<section class="mission">				
			<div></div>
			<h1>Mission</h1>
			<div class="line"></div>

		<div class="wrapper">
			<div class="block text">
				<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
			</div>
		</div>
	</section>

	<section class="whatwedo">
		<div class="doing">				
			<div class="missionheader">
				<h1>What We Do</h1>
				<div class="line"></div>
			</div>

			<div class="row">

				<div class="four columns wwd">
			  		<div class="preview">
			  			<span class="helper"></span><img src="img/missionstatementt.png">
			  		</div>
			  		<h5>Workshops</h5>
			  		<p>Resize the browser window to see how the content respond to the resizing.</p>
				</div>

				<div class="four columns wwd">
					<div class="preview">
						<span class="helper"></span><img src="img/mentor.png">
					</div>
					<h5>Confidence</h5>
					<p>Resize the browser window to see how the content respond to the resizing.</p>
					</div>

				<div class="four columns wwd" style="margin-right: 0;">
					<div class="preview">
				  		<span class="helper"></span><img src="img/community.png">
				  	</div>
				 	<h5>Sisterhood</h5>
				  	<p>Resize the browser window to see how the content respond to the resizing.</p>
				</div>

			</div>
	    </div>
	</section>


	<footer>
		<div class="container">
			<div class="row table">
				<div class="eight columns table-cell-center">
					<h5 class="">Footer Content</h5>
					<p class="">You can use rows and columns here to organize your footer content.</p>
				</div>

				<div class="four columns do center table-cell-center">
					<p>Powered by</p>
					<img src="img/do.png">
				</div>
			</div>
		</div>
	</footer>

</body>

</body>
</html>