<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>The Girl Code Backend</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/level.css">
	<!-- Create a simple CodeMirror instance -->
	<link rel="stylesheet" href="/stylesheets/codemirror.css">
	<script src="/lib/codemirror.js"></script>
	<script src="/lib/javascript.js"></script>
	<link rel="stylesheet" href="https://use.typekit.net/pme3yyf.css">
</head>
<body>
	<div class="question">
		<form method="post" class="submit">
			um
			<input type="text" name="answer" placeholder="Enter answer">
				<button type="submit" class="loginbutton">Check</button>
		</form>

		<p><a href="/users/logout">Log out</a></p>
	</div>

	<div class="coding">
		<form method="post" action="/levels/compiler" class="compiler">
			<textarea name="code" placeholder="Code here" class="codeeditor"></textarea>
				<div class="formbutton">
					<div class="form-in-button">
						<div class="bgbutton"></div>
						<button class="loginbutton">Compile</button>
					</div>
				</div>
				<pre><pre class="stdout"></pre></pre>
				<pre><pre class="stderr"></pre></pre>
		</form>

		<input class="stdin" placeholder="Send input to program">

	</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/javascripts/level.js"></script>
<script src="/mode/python/python.js"></script>
<script src="/javascripts/compiler.js"></script>
</body>
</html>
