<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>The Girl Code Backend</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/level.css">
	<!-- Create a simple CodeMirror instance -->
	<link rel="stylesheet" href="/stylesheets/codemirror.css">
	<script src="/lib/codemirror.js"></script>
	<script src="/lib/javascript.js"></script>
</head>
<body>
	<div class="question">
		<form method="post" class="submit">
			<h1 class="formtitle">Introduction to Python Syntax</h1>
			<p>If programming is the act of teaching a computer to have a conversation with a user, it would be most useful to first teach the computer how to speak. In Python, this is accomplished with the print statement.</p>
			<code>
				print "Hello, world!"

				print "I'm a programmer at The Girl Code! :)"
			</code>
			<p>A print statement is the easiest way to get your Python program to communicate with you. Being able to command this communication will be one of the most valuable tools in your programming toolbox.</p>
			<h2>Instructions</h2>
			<ol>
				<li>Using a print statement, output `Hello, my name is {{your name}}.` message of your choosing to the terminal.</li>
			</ol>
			<input type="text" name="answer" placeholder="Enter answer">
				<button type="submit" class="loginbutton">Check</button>
		</form>

		<p><a href="/users/logout">Log out</a></p>
	</div>

	<div class="coding">
		<form method="post" action="/levels/compiler" class="compiler">
			<textarea name="code" placeholder="Code here" class="codeeditor"></textarea>
				<div class="formbutton">
					<div class="form-in-button">
						<div class="bgbutton"></div>
						<button class="loginbutton">Compile</button>
					</div>
				</div>
				<pre><code class="stdout"></code></pre>
				<pre><code class="stderr"></code></pre>
		</form>

		<input class="stdin" placeholder="Send input to program">

	</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/javascripts/level.js"></script>
<script src="/mode/python/python.js"></script>
<script src="/javascripts/compiler.js"></script>
</body>
</html>
