<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>The Girl Code Backend</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/level.css">
	<!-- Create a simple CodeMirror instance -->
	<link rel="stylesheet" href="/stylesheets/codemirror.css">
	<script src="/lib/codemirror.js"></script>
	<script src="/lib/javascript.js"></script>
	<script   src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script>
</head>
<body>
	<div class="question">
		<div class="nav">
			<a href='/dashboard' style="padding-right: 7rem;">&larr; Back to the dashboard</a>
			<a href='/levels/13'>Next &rarr;</a>
		</div>
		<br><br>
		<form method="post" class="submit">
			<h1>Loops: While</h1>
			<p>
				Eve has had a hard day at work at the bakery today.So, she wants to take a nap. She’s told her mum not to disturb her  <b> while </b> she’s sleeping. Once  she wakes up, her mother can give her chores. Her request condition expires or, is terminated, once she wakes up and is no longer sleeping.<br><br>

				While eve is sleeping:<br>
				&nbsp;&nbsp;&nbsp;&nbsp;Don’t disturb her
				<center><img src="/img/illustrations/sleepingeve.png" style="width: 30%; margin-top: 1rem" alt=""></center>
				<br><br>
				This is the basic principle of a <b> While Loop </b>. The while loop tells the computer to do something as long as <b>the condition</b> is met. <br><br>

				The condition is evaluated, and if the condition is <b>true</b>, the code within the block is executed. This repeats until the condition becomes false.<br><br>

				The syntax for while loop is :

				<pre>
while a condition is True:
  code
 				</pre>
				<br>
				Eve can’t sleep, so she decides to count sheeps till 25. Let’s try printing values from 1 till 25 using a while loop.<br>
				<img src="/img/illustrations/sheep.png" style="
    -webkit-filter: drop-shadow(0 0 3px rgba(0,0,0,0.2));
    filter: drop-shadow(0 0 3px rgba(0,0,0,0.2));
    margin-top: 2rem;
    display: block;
    margin-bottom: 2rem;
    width: 35%;
    float: right;
">
				<pre>
sheep_counter = 1
while sheep_counter < 26:
  print(sheep_counter)
				</pre>

				Oh no! What happened, the computer is just printing 1 and is not even stopping!<br>
				Don’t worry, you are just stuck in an <a id="w1" href="#" onclick="return false;"><b>infinite loop</b></a><span id="p1" class="hidden"> (Infinite loop is nothing but when there is no end condition to the loop thus the code runs forever. No programmer want this to happen!)</span> as the condition sheep_counter (which has a value of 1) is less than 26 is always True! Let’s update the value of the sheep_counter after each <a id="w2" href="#" onclick="return false;"><b>iteration.</b></a><span id="p2" class="hidden"> (one cycle of running the code)</span><br><br>

				<pre>
sheep_counter = 1
while sheep_counter < 26:
  print(sheep_counter)
  sheep_counter = sheep_counter + 1
				</pre>

			</p>
			<br><br>

			<h2>Question</h2>

			<p>

				Eve is given a long list of items that her family plans to put on the bakery menu. But due to limited space she <b>can’t</b> fit items with the length longer than 12 characters. Help her out by printing all the list items that won’t fit.
				<ul>
					<li>Butter</li>
					<li>Milk</li>
					<li>Dark Chocolate</li>
					<li>Bread</li>
					<li>Vanilla Cupcakes</li>
				</ul>


			</p>

		</form>
		<div class="eve-container">
			<img src="/img/blinky-eve.gif" alt="Eve" class="happy-eve">
			<img src="/img/sad-eve.png" alt="Sad Eve" class="sad-eve hidden">
		</div>
	</div>

	<div class="coding">
		<form method="post" action="/levels/compiler" class="compiler">
			<textarea name="code" placeholder="Code here" class="codeeditor"></textarea>
				<div class="formbutton">
					<div class="form-in-button">
						<div class="bgbutton"></div>
						<button class="loginbutton">Compile</button>
					</div>
				</div>
				<div class="output-container">
					<pre data-heading="OUTPUT"><code class="stdout"></code></pre>
					<pre data-heading="STATUS"><code class="stderr"></code></pre>
				</div>
		</form>

		<input class="stdin" placeholder="Send input to program...">

	</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/javascripts/level.js"></scr