<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>The Girl Code Backend</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/level.css">
	<!-- Create a simple CodeMirror instance -->
	<link rel="stylesheet" href="/stylesheets/codemirror.css">
	<script src="/lib/codemirror.js"></script>
	<script src="/lib/javascript.js"></script>
	<script   src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script>
</head>
<body>
	<div class="question">
		<div class="nav">
			<a href='/dashboard' style="padding-right: 7rem;">&larr; Back to the dashboard</a>
			<a href='/levels/13'>Next &rarr;</a>
		</div>
		<br><br>
		<form method="post" class="submit">

			<h1>Loops-While</h1>
			<p>
				Eve has had a hard day at work at the bakery today.So, she wants to take a nap. She’s told her mum not to disturb her  <b> while </b> she’s sleeping. Once  she wakes up, her mother can give her chores.Her request condition expires or, is terminated, once she wakes up and is no longer sleeping.<br><br>

				While eve is sleeping:<br>
						Don’t disturb her

				<br><br>
				This is the basic principle of a <b> While Loop </b>. The while loop tells the computer to do something as long as <b>the condition</b> is met. <br><br>

				The condition is evaluated, and if the condition is <b>true</b>, the code within the block is executed. This repeats until the condition becomes false.<br><br>

				The syntax for while loop is :<br><br>

				while a condition is True:<br>
				    do something
				<br><br>
				Eve can’t sleep, so she decides to count sheeps till 25. Let’s try printing values from 1 till 25 using a while loop.<br>

				<pre>
sheep_counter = 1
while sheep_counter < 26:
	print(sheep_counter)
				</pre>

				Oh no! What happened, the computer is just printing 1 and is not even stopping!<br>
				Don’t worry, you are just stuck in an <a id="w1" href="#" onclick="return false;">infinite loop</a> as the condition sheep_counter which has a value of 1 is less than 26 is always True! Let’s update the value of the sheep_counter after each iteration.<br><br>
				<span id="p1" class="hidden"><b>Note:</b> Infinite loop is nothing but when there is no end condition to the loop thus the code runs endlessly.</span>
				<pre>
Sheep_counter = 1
while sheep_counter < 26:
	print(sheep_counter)
	sheep_counter = sheep_counter + 1
				</pre>

			</p>
			<br><br>

			<h2>Question</h2>

			<p>

				Eve is given a long list of items that her family plans to put on the bakery menu. But due to limited space she <b>can’t<b> fit items with the length longer than 12 characters. Help her out by printing all the list items that won’t fit.<br><br>

				<pre>my_list = ["Vanilla Cake", "Garlic Bread", "Butter Biscuits", "cupcakes", "egg tart", "apple pie"]</pre>


			</p>

		</form>
		<div class="eve-container">
			<img src="/img/blinky-eve.gif" alt="Eve" class="happy-eve">
			<img src="/img/sad-eve.png" alt="Sad Eve" class="sad-eve hidden">
		</div>
	</div>

	<div class="coding">
		<form method="post" action="/levels/compiler" class="compiler">
			<textarea name="code" placeholder="Code here" class="codeeditor"></textarea>
				<div class="formbutton">
					<div class="form-in-button">
						<div class="bgbutton"></div>
						<button class="loginbutton">Compile</button>
					</div>
				</div>
				<div class="output-container">
					<pre data-heading="OUTPUT"><pre class="stdout"></pre></pre>
					<pre data-heading="STATUS"><pre class="stderr"></pre></pre>
				</div>
		</form>

		<input class="stdin" placeholder="Send input to program...">

	</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/javascripts/level.js"></script>
<script src="/mode/python/python.js"></script>
<script src="/javascripts/compiler.js"></script>
  <script type="text/javascript">
      $(document).ready(function () {
      var MastStory = function () {
        $('#w1').click(function(){ $('#p1').removeClass('hidden'); });
        $('#w2').click(function(){ $('#p2').removeClass('hidden'); });
        $('#w3').click(function(){ $('#p3').removeClass('hidden'); });
        $('#w4').click(function(){ $('#p4').removeClass('hidden'); });
        $('#w5').click(function(){ $('#p5').removeClass('hidden'); });
        $('#clr').click(function(){ $('#p1').addClass('hidden'); });
      };
      MastStory();
      });
  </script>
</body>
</html>
