<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>The Girl Code Backend</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/level.css">
	<!-- Create a simple CodeMirror instance -->
	<link rel="stylesheet" href="/stylesheets/codemirror.css">
	<script src="/lib/codemirror.js"></script>
	<script src="/lib/javascript.js"></script>
</head>
<body>
	<div class="question">
		<a href='/dashboard'>&larr; Back to the dashboard</a>
		<br><br>
		<form method="post" class="submit">
			<h1>Introduction</h1>
			<p>Ever heard the phrase “Work smart, not hard”? Well computers don’t do that at all. It’s best to think of a computer as a really dumb but hard working human being. It can do great things with good guidance, like running Facebook. But without good guidance, it’s just a hunk of metal. That’s where you come in, with your guidance and support you can make a computer do great things. You can make computers great again. :)</p>
			<p>Before we go any further and make cool stuff like the next Google, lets figure out how to talk to these computers. We talk to computers through something called Programming and there are many Programming languages to choose from, for the purpose of this course we’ll choose the most popular language, Python! :D</p>
			<h2>Introduction to Python Syntax</h2>
			<p>If programming is the act of teaching a computer to have a conversation with a user, it would be most useful to first teach the computer how to speak. In Python, this is accomplished with the print statement.</p>
			<p>
				<code>
					print "Hello, world!"
					<br>
					print "I'm a programmer at The Girl Code! :)"
				</code>
			</p>
			<p>A print statement is the easiest way to get your Python program to communicate with you. Being able to command this communication will be one of the most valuable tools in your programming toolbox.</p>
			<h2>Instructions</h2>
			<ol>
				<li>Using a print statement, output `Hello, my name is {your name}.` message of your choosing to the terminal.</li>
			</ol>
		</form>
	</div>

	<div class="coding">
		<form method="post" action="/levels/compiler" class="compiler">
			<textarea name="code" placeholder="Code here" class="codeeditor"></textarea>
				<div class="formbutton">
					<div class="form-in-button">
						<div class="bgbutton"></div>
						<button class="loginbutton">Compile</button>
					</div>
				</div>
				<div class="output-container">
					<pre data-heading="OUTPUT"><code class="stdout"></code></pre>
					<pre data-heading="STATUS"><code class="stderr"></code></pre>
				</div>
		</form>

		<input class="stdin" placeholder="Send input to program...">

	</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/javascripts/level.js"></script>
<script src="/mode/python/python.js"></script>
<script src="/javascripts/compiler.js"></script>
</body>
</html>
