<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>The Girl Code Backend</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/level.css">
	<!-- Create a simple CodeMirror instance -->
	<link rel="stylesheet" href="/stylesheets/codemirror.css">
	<script src="/lib/codemirror.js"></script>
	<script src="/lib/javascript.js"></script>
	<script   src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script>
</head>
<body>
	<div class="question">
		<a href='/dashboard'>&larr; Back to the dashboard</a>
		<br><br>
		<form method="post" class="submit">
			
			<h1>Input</h1>
			<p>
				Up to this point, we’ve learnt how to make the computer display things and give us various outputs. Now, we will learn how to feed information into the computer.
				<br> <br>

				Python has an interesting feature called `input()`. Judging from its very name, input() is pretty self explanatory. When the program runs and it reaches a line with `input()` on it, it stops and waits till the user inputs in a value into the computer. This input can then be saved to a variable. <br> <br>

				<code>
					name = input("What’s your name?") # waits till the user enters an input<br>
					print(“Hello!”)<br>
					print(name)<br>
				</code>
			</p>


			<p> 
				In this above example, we create a variable called ‘name’ and request the computer user to input a name into the computer. After the user inputs a name and presses the Enter key on their keyboard, whatever name they have written is automatically saved to the created variable, ‘name’.
			</p>


			<h2>Question</h2>
			
			<p>
				Eve wants to automate the computer in her bakery to greet her customers. Write a program which asks the customer for their name and then greets them in the following format: <br> <br>

				“Welcome to the bakery,” <br>
				“Eve” #This is the inputted name!
			</p>

		</form>
		<div class="eve-container">
			<img src="/img/blinky-eve.gif" alt="Eve" class="happy-eve">
			<img src="/img/sad-eve.png" alt="Sad Eve" class="sad-eve hidden">
		</div>
	</div>

	<div class="coding">
		<form method="post" action="/levels/compiler" class="compiler">
			<textarea name="code" placeholder="Code here" class="codeeditor"></textarea>
				<div class="formbutton">
					<div class="form-in-button">
						<div class="bgbutton"></div>
						<button class="loginbutton">Compile</button>
					</div>
				</div>
				<div class="output-container">
					<pre data-heading="OUTPUT"><code class="stdout"></code></pre>
					<pre data-heading="STATUS"><code class="stderr"></code></pre>
				</div>
		</form>

		<input class="stdin" placeholder="Send input to program...">

	</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/javascripts/level.js"></script>
<script src="/mode/python/python.js"></script>
<script src="/javascripts/compiler.js"></script>
  <script type="text/javascript">
      $(document).ready(function () {
      var MastStory = function () {
        $('#w1').click(function(){ $('#p1').removeClass('hidden'); });
        $('#w2').click(function(){ $('#p2').removeClass('hidden'); });
        $('#w3').click(function(){ $('#p3').removeClass('hidden'); });
        $('#w4').click(function(){ $('#p4').removeClass('hidden'); });
        $('#w5').click(function(){ $('#p5').removeClass('hidden'); });
        $('#clr').click(function(){ $('#p1').addClass('hidden'); });
      };
      MastStory();
      });
  </script>
</body>
</html>
