<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>The Girl Code Backend</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/level.css">
	<!-- Create a simple CodeMirror instance -->
	<link rel="stylesheet" href="/stylesheets/codemirror.css">
	<script src="/lib/codemirror.js"></script>
	<script src="/lib/javascript.js"></script>
	<script   src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script>
</head>
<body>
	<div class="question">
		<a href='/dashboard'>&larr; Back to the dashboard</a>
		<br><br>
		<form method="post" class="submit">
			
			<h1>Syntax and Printing</h1>
			<p>
				Just like your brain, the computer also has memory where it stores data (pieces of information). These data come in many various types, which we will be talking in just a minute.

			</p>

			<p> 
				Eve wants to create a receipt for her customer. The receipt includes three things: The product’s name, number purchased, and the total price.
			</p>

			<p> <b> PICTURE </b> </p>

			<p>
				Eve’s receipt above includes three different types of information.<br>
				These three things on Eve’s receipt represent three different types of data: string, integer, and float.


			<p>

			<p>
				Looking the product section of the receipt, “Cupcake” is one example of a string. Up to this point, you may be wondering why we’re putting words in quotes(“ ”). Any characters in between these is called a string, you can type many characters in between these quotation marks to form words and sentences.

				<code>
					print(“Hello! My name is Eve and I help run a family bakery”)
				</code>


			<p>
				For Number Purchased, the number 5 is stored. This number’s type is called int, which stands for integers. The integers in Python are essentially the same as the ones you’ve studied in Math - whole numbers. Just like strings, you can print ints as well! 
				<code>
					print(5)
				</code>

				<b>Note:</b> Notice how “” aren’t used here? That’s because it’s an integer and not a string. <br> <br>

				Lastly, looking at the Total Price, the number 2.5 is of another data type called floats. These numbers are different from integers in that they have a fractional value; a number with a decimal point. Like integers, they aren’t enclosed within quotes.

				<code>
					print(11.2)
				</code>
			</p>

			<h2> Variables </h2>

			<p>
				We’ve talked about the different kinds of data that exist in Python, but how do we get the computer to save this data? In order for the computer to do so, we need to make use of something called variables.<br><br>

				A variable can also be called a label for data. It serves three primary functions: <br> <br>

				<ol>
 
					<li>
						<b>Store information:</b><br>
						Eve decides that she wants to buy a chocolate. Let’s create a variable named “what_eve_wants” and store a string in it.

						<code>
							what_eve_wants = “Chocolate”
						</code>

						The left hand side contains the name of the variable you wish to create, whereas the right hand side contains the data you wish to store in this variable.<br><br>

						<b>Note</b>: You can see an `=` sign being used. Just like we assign values in mathematics with `=`, we do the same in Python.
      				
      				<li>
	      				<b>Being able to take out that stored information:<br></b>
						Eve wants to display this information to others.

						<code>
						print(what_eve_wants)
						</code>

						Using variables is an easy and convenient way of storing and using data.
					</li>

					<li>
						Edit stored information:<br>
						Eve changes her mind and now wants ice cream.
						<code>
						what_eve_wants = “Ice cream”
						</code>
					</li>
				</ol>
			</p>

			<p>
				<b>Note:</b> Here we see that we changed the value of what_eve_wants to “Ice cream”. You can assign new values to old variables. The computer will remember the latest value that you have assigned.<br><br>

				Go ahead and try in your compiler! <br> <br>

				However, you need to keep in mind that variable names have to follow some rules:
				<ol>
					<li>Variable names must start with a letter or an underscore.</li>
					<li>Variable names can only contain numbers, letters or underscores.</li>
					<li>Variable names are case sensitive.</li>
				</ol>

				_hello, hello_123 and _HELLO are valid variable names whereas 1hello and hello$ aren’t. <br>

				Meanwhile, hello and Hello are 2 different variables. Be sure to be careful when you type!

			</p>
			<br><br>


			<h2>Question</h2>
			
			Eve is confused between what type the following are. Print out your answers as either “String”, “Float” or “Integer” on different lines.<br>
			14.0<br>
			14<br>
			“Eve”<br>
			3.14<br>
			“14”<br>

		</form>
		<div class="eve-container">
			<img src="/img/blinky-eve.gif" alt="Eve" class="happy-eve">
			<img src="/img/sad-eve.png" alt="Sad Eve" class="sad-eve hidden">
		</div>
	</div>

	<div class="coding">
		<form method="post" action="/levels/compiler" class="compiler">
			<textarea name="code" placeholder="Code here" class="codeeditor"></textarea>
				<div class="formbutton">
					<div class="form-in-button">
						<div class="bgbutton"></div>
						<button class="loginbutton">Compile</button>
					</div>
				</div>
				<div class="output-container">
					<pre data-heading="OUTPUT"><code class="stdout"></code></pre>
					<pre data-heading="STATUS"><code class="stderr"></code></pre>
				</div>
		</form>

		<input class="stdin" placeholder="Send input to program...">

	</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/javascripts/level.js"></script>
<script src="/mode/python/python.js"></script>
<script src="/javascripts/compiler.js"></script>
  <script type="text/javascript">
      $(document).ready(function () {
      var MastStory = function () {
        $('#w1').click(function(){ $('#p1').removeClass('hidden'); });
        $('#w2').click(function(){ $('#p2').removeClass('hidden'); });
        $('#w3').click(function(){ $('#p3').removeClass('hidden'); });
        $('#w4').click(function(){ $('#p4').removeClass('hidden'); });
        $('#w5').click(function(){ $('#p5').removeClass('hidden'); });
        $('#clr').click(function(){ $('#p1').addClass('hidden'); });
      };
      MastStory();
      });
  </script>
</body>
</html>
