<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>The Girl Code</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/level.css">
	<!-- Create a simple CodeMirror instance -->
	<link rel="stylesheet" href="/stylesheets/codemirror.css">
	<script src="/lib/codemirror.js"></script>
	<script src="/lib/javascript.js"></script>
	<script   src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script>
</head>
<body>
	<div class="question">
		<div class="nav">
			<a href='/dashboard' style="padding-right: 7rem;">&larr; Back to the dashboard</a>
			<a href='/levels/12'>Next &rarr;</a>
		</div>
		<br><br>
		<form method="post" class="submit">

			<h1>Loops: For</h1>
			<p>
				What’s the laziest thing, creature, or entity to have ever existed?<br>
				Is it a sloth? A slug, maybe?<br>
				No...it’s a programmer!<br><br>

				Is there really anything worse than writing the same code again and again and again and again?<br>
				A customer places an order for a 100 cupcakes. Eve needs to make a receipt for the purchase. So, she wants print ("Cupcake $2.40"), 100 times, she’s not going to repeat this code a 100 times. Instead, she’ll use a new feature- <b> loop.</b><br>

				 <pre>
#There is indentation space in for loops too!
For variable in range(0,numberoftimes):
  code
 				</pre>

				<pre>
for x in range(0,100):
  print("Cupcake $2.40")
				</pre>


				Here, the variable x will go (i.e. iterate) from 0-99, printing <b>Cupcake $2.40</b> each time it completes one iteration.<br><br>

				Note: Like slicing, the first value is inclusive whereas the second value is exclusive thus the value of x changes from 0 - 99 and not from 1 - 100.<br><br>

				Eve needs to count the number of eggs, thus she needs the computer to print numbers from 0 to 15.You can print numbers between 2 numbers by just adjusting the range. In this case it would be<br><br>

				<pre>
for x in range(0,16):
  print(x)
				</pre>

				<b>Note:</b> Keep in mind that the the values of x will vary from the first number till the (last number - 1)<br><br>

				Let’s apply the if-else statements we learned earlier to loops.<br>
				Suppose we want to check which numbers between 1-10, are even  and which are odd. Then it will be done in the following way:<br><br>

				<pre>
for x in range(1,10):
  if(x%2 ==0):
    print ("even")
  else:
    print("odd")
				</pre>


			</p>
			<br>

			<h2>Question</h2>

			<p>
				Eve loves numbers with factors! She wants to create a function that determines the <a id="w1" href="#" onclick="return false;"><b>factors</b></a><span id="p1" class="hidden">(A factor of a number divides the number <a id="w2" href="#" onclick="return false;"><b>completely!</b></a><span id="p2" class="hidden"> Use '%' to check the divisibility</span>)</span> of the number entered. Can you help her?
				Print the sum of all the factors of 42.

			</p>

		</form>
		<div class="eve-container">
			<img src="/img/blinky-eve.gif" alt="Eve" class="happy-eve">
			<img src="/img/sad-eve.png" alt="Sad Eve" class="sad-eve hidden">
		</div>
	</div>

	<div class="coding">
		<form method="post" action="/levels/compiler" class="compiler">
			<textarea name="code" placeholder="Code here" class="codeeditor"></textarea>
				<div class="formbutton">
					<div class="form-in-button">
						<div class="bgbutton"></div>
						<button class="loginbutton">Compile</button>
					</div>
				</div>
				<div class="output-container">
					<pre data-heading="OUTPUT"><code class="stdout"></code></pre>
					<pre data-heading="STATUS"><code class="stderr"></code></pre>
				</div>
		</form>

		<input class="stdin" placeholder="Send input to program...">

	</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/javascripts/level.js"></script>
<script src="/mode/python/python.js"></script>
<script src="/javascripts/compiler.js"></script>
  <script type="text/javascript">
      $(document).ready(function () {
      var MastStory = function () {
        $('#w1').click(function(){ $('#p1').removeClass('hidden'); });
        $('#w2').click(function(){ $('#p2').removeClass('hidden'); });
        $('#w3').click(function(){ $('#p3').removeClass('hidden'); });
        $('#w4').click(function(){ $('#p4').removeClass('hidden'); });
        $('#w5').click(function(){ $('#p5').removeClass('hidden'); });
        $('#clr').click(function(){ $('#p1').addClass('hidden'); });
        $('#clr').click(function(){ $('#p2').addClass('hidden'); });
      };
      MastStory();
      });
  </script>
</body>
</html>
