<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>The Girl Code Backend</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/level.css">
	<!-- Create a simple CodeMirror instance -->
	<link rel="stylesheet" href="/stylesheets/codemirror.css">
	<script src="/lib/codemirror.js"></script>
	<script src="/lib/javascript.js"></script>
</head>
<body>
	<div class="question">
		<a href='/dashboard'>&larr; Back to the dashboard</a>
		<br><br>
		<form method="post" class="submit">
			<h1>Introduction</h1>
			<p>Ever heard the phrase “Work smart, not hard”?  Well, computers don’t do that at all. It’s best to think of a computer as a really dumb but hard working human being. It can do great things with good guidance, like running Facebook. But without that guidance, it’s just a hunk of metal. That’s where you come in: with your guidance and support, you can make a computer do great things.</p>

			<p>Before we go any further and make cool stuff like the next Google, let’s figure out how to talk to these computers. </p>

			<p> Computers can only understand programming languages. This means that they cannot understand human languages. So, humans have developed some languages which help the computer understand what we want it to do. A program is an algorithm written in one of these languages.</p>

			<p>This course is covering one of the most popular programming languages, Python 3.5.</p>

			<p> In this tutorial some words will be underlined and can be clicked upon for explanation like this <a id="w1" href="#" onclick="return false;"><b>like this.</b></a><span id="p1" class="hidden"> Good job! You’ve opened up an explanation for ‘like this’ and you can do it <b> <a id="w4" href="#" onclick="return false;">again.</span></b></a><span id="p4" class="hidden"> Wow! You are terrific at this!! </span></p>


			<h2>Syntax and Printing</h2>
			<p>
				While writing a program we’ll be using two tools:<br> <br>

				Text Editor: The place where you tell a program what to do.
				Console: The place where the computer returns information after processing what you asked it to do.
			</p>

			<p> 
				You’ll be spending a huge portion of your time writing your programs and code using a text editor, before running the code via a console.
			</p>

			<p>
				As a budding programmer like yourself, you’ll have to write lots and lots of code. How you write the code is very important - you need to follow some rules when you write this code. Otherwise, the computer can’t understand what you’re writing at all, and your code won’t run! This is what we call ‘Syntax’. It is the arrangement of words to create sentences in a language. Just like we how we need to follow proper grammar rules in any language (like Hindi and English), we do the same in Python. We will cover the rules of writing any code in Python as we go along talking about what you can do using this programming language.

			<p>

			<p>
				So, let’s get started with talking to a computer in Python!<br><br>

				We’ll start off with the tool in programming that you’ll use the most; printing. It basically returns whatever you give it.<br><br>

				Let’s take the following as an example:<br> 

				<code>
					print(“Hi, My Name is Eve!”)
				</code>


			<p>
				There are two important parts to this: <br>
				<b>“Hi, My Name is Eve!”</b>: This is called a string. For now think of it as a chain of letters, numbers or anything you can type on your keyboard.

				<br> <br>
				<b>print()</b>: Anything you put in between the brackets is returned by the computer into the console.

				<br><br>

				Let’s test this out! Print out your name and press the compile button.

			</p>

			<p>
				During the course of this tutorial, you will come across many statements starting with a hashtag(#). These are known as comments and are used to explain to code to people who read it - these are not run by the computer.
			</p>

			<code>
				print("Hello") <br>
				#Hello is printed on the screen whereas this comment is not.
			</code>


			<h2>Question</h2>
			<ol>
				<li>Eve wants the computer to know the address to her family bakery (Eve’s Family Bakery, 155 Main St, Bihar 84101, INDIA). Print the address to let the computer know!</li>
			</ol>
		</form>
		<div class="eve-container">
			<img src="/img/blinky-eve.gif" alt="Eve" class="happy-eve">
			<img src="/img/sad-eve.png" alt="Sad Eve" class="sad-eve hidden">
		</div>
	</div>

	<div class="coding">
		<form method="post" action="/levels/compiler" class="compiler">
			<textarea name="code" placeholder="Code here" class="codeeditor"></textarea>
				<div class="formbutton">
					<div class="form-in-button">
						<div class="bgbutton"></div>
						<button class="loginbutton">Compile</button>
					</div>
				</div>
				<div class="output-container">
					<pre data-heading="OUTPUT"><code class="stdout"></code></pre>
					<pre data-heading="STATUS"><code class="stderr"></code></pre>
				</div>
		</form>

		<input class="stdin" placeholder="Send input to program...">

	</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/javascripts/level.js"></script>
<script src="/mode/python/python.js"></script>
<script src="/javascripts/compiler.js"></script>
  <script type="text/javascript">
      $(document).ready(function () {
      var MastStory = function () {
        $('#w1').click(function(){ $('#p1').removeClass('hidden'); });
        $('#w2').click(function(){ $('#p2').removeClass('hidden'); });
        $('#w3').click(function(){ $('#p3').removeClass('hidden'); });
        $('#w4').click(function(){ $('#p4').removeClass('hidden'); });
        $('#w5').click(function(){ $('#p5').removeClass('hidden'); });
        $('#clr').click(function(){ $('#p1').addClass('hidden'); });
      };
      MastStory();
      });
  </script>
</body>
</html>
