<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="shortcut icon" type="image/png" href="/favicon.png"/>
	<title>The Girl Code</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/forms.css">
	<link rel="stylesheet" href="https://use.typekit.net/hjk6uuj.css">
</head>
<body>
	<div class="limiter">
		<div class="container">
			<div class="card">
				<form action="/users/new" method="post">
				<form class="formlogin" action="/users/new" method="post">
					<h1 class="formtitle">Create a username</h1>

					<div class="inputtype">
						<input class="an-input" type="text" name="username">
						<span class="focus-an-input" data-placeholder="New username"></span>
					</div>

					<div class="formbutton">
						<div class="form-in-button">
							<div class="bgbutton"></div>
							<button class="loginbutton">Login</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/javascripts/newuser.js"></script>

</body>
</html>