<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>The Girl Code Backend</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>

<h1>Sample sign up page</h1>

<p>This will be replaced with the actual sign up page once everything is brought together.</p>

<form action="/users/signup" method="post">
	
	<input type="text" name="username" placeholder="Username" required>
	<input type="email" name="email" placeholder="Email" required>
	<input type="password" name="password" placeholder="Password" required>
	<button type="submit">Sign yourself upwards</button>

</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/javascripts/signup.js"></script>

</body>
</html>