<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>The Girl Code</title>
	<link rel="shortcut icon" type="image/png" href="/favicon.png"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/level.css">
	<!-- Create a simple CodeMirror instance -->
	<link rel="stylesheet" href="/stylesheets/codemirror.css">
	<script src="/lib/codemirror.js"></script>
	<script src="/lib/javascript.js"></script>
	<script   src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://use.typekit.net/hjk6uuj.css">
</head>
<body>
	<div class="question">
		<div class="nav">
			<a href='/train/{{prevLevel}}' style="padding-right: 7rem;">{{#prevLevel}}&larr; Previous{{/prevLevel}}</a>
			<a href='/train/{{nextLevel}}'>Next &rarr;</a>
		</div>
		<br>
		<span class="breadcrumbs"><a href="/training">Training</a> ❯</span>
		<form method="post" class="submit">
			{{> levelText}}
		</form>
		<div class="eve-container">
			<img src="/img/blinky-eve.gif" alt="Eve" class="happy-eve" draggable="false">
			<img src="/img/sad-eve.png" alt="Sad Eve" class="sad-eve hidden draggable="false">
		</div>
	</div>

	<div class="coding">
		<form method="post" action="/levels/compiler" class="compiler">
			<textarea name="code" placeholder="Code here" class="codeeditor"></textarea>
				<div class="formbutton">
					<div class="form-in-button">
						<div class="bgbutton"></div>
						<button class="loginbutton run">Run</button>
					</div>
					<div class="form-in-button">
						<div class="bgbutton"></div>
						<button class="loginbutton submit">Submit</button>
					</div>
				</div>
				<div class="output-container">
					<pre data-heading="OUTPUT"><code class="stdout"></code></pre>
				</div>
		</form>

		<input class="stdin" placeholder="Send input to program...">

	</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/javascripts/level.js"></script>
<script src="/mode/python/python.js"></script>
<script src="/javascripts/compiler.js"></script>
  <script type="text/javascript">
      $(document).ready(function () {
      var MastStory = function () {
        $('#w1').click(function(){ $('#p1').removeClass('hidden'); });
        $('#w2').click(function(){ $('#p2').removeClass('hidden'); });
        $('#w3').click(function(){ $('#p3').removeClass('hidden'); });
        $('#w4').click(function(){ $('#p4').removeClass('hidden'); });
        $('#w5').click(function(){ $('#p5').removeClass('hidden'); });
        $('#clr').click(function(){ $('#p1').addClass('hidden'); });
        $('#clr').click(function(){ $('#p2').addClass('hidden'); });
        $('#clr').click(function(){ $('#p3').addClass('hidden'); });
      };
      MastStory();
      });
  </script>
</body>
</html>
