<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>The Girl Code</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/sub-pages.css">
</head>
<body>

	<header>
		<div class="logo">
			<img src="img/logo_trans.png">
		</div>

		<nav>
			<a href="/about">
				<span>About</span>
			</a>
			<a href="/workshops">
				<span>Workshops</span>
			</a>
			<a href="#" class="show-submenu">
				<span>Platform</span>
			</a>
			<div class="submenu">
				<a href="/login">
					<span>Login</span>
				</a>
				<a href="/signup">
					<span>Sign Up</span>
				</a>
			</div>
		</nav>
	</header>

	<section class="mast">
		<div class="container">
			<h1>Workshops</h1>
		</div>
	</section>
	<section class="cards workshops">
		<div class="container">
			<h1 class="column-12">Upcoming</h1>
			<article class="card column-4">
				<a href="#">
					<figure class="thumbnail">
					<img src="http://placekitten.com/810/610" alt="meow">
					</figure>
					<div class="workshop-info">
						<h3>Private Public School</h3>
						<div class="date">29th February 2091</div>
					</div>
				</a>
			</article>
			<article class="card column-4">
				<a href="#">
					<figure class="thumbnail">
					<img src="http://placekitten.com/810/610" alt="meow">
					</figure>
					<div class="workshop-info">
						<h3>National International School</h3>
						<div class="date">30th December 2191</div>
					</div>
				</a>
			</article>
			<article class="card column-4">
				<a href="#">
					<figure class="thumbnail">
					<img src="http://placekitten.com/810/610" alt="meow">
					</figure>
					<div class="workshop-info">
						<h3>ABC BCA School</h3>
						<div class="date">28th January 2041</div>
					</div>
				</a>
			</article>
			<article class="card column-4">
				<a href="#">
					<figure class="thumbnail">
					<img src="http://placekitten.com/810/610" alt="meow">
					</figure>
					<div class="workshop-info">
						<h3>Private Public School</h3>
						<div class="date">29th February 2091</div>
					</div>
				</a>
			</article>
			<article class="card column-4">
				<a href="#">
					<figure class="thumbnail">
					<img src="http://placekitten.com/810/610" alt="meow">
					</figure>
					<div class="workshop-info">
						<h3>National International School</h3>
						<div class="date">30th December 2191</div>
					</div>
				</a>
			</article>
			<article class="card column-4">
				<a href="#">
					<figure class="thumbnail">
					<img src="http://placekitten.com/810/610" alt="meow">
					</figure>
					<div class="workshop-info">
						<h3>ABC BCA School</h3>
						<div class="date">28th January 2041</div>
					</div>
				</a>
			</article>
		</div>
		<section class="cards workshops">
		<div class="container">
			<h1 class="column-12">Past</h1>
			<article class="card column-4">
				<a href="#">
					<figure class="thumbnail">
					<img src="http://placekitten.com/810/610" alt="meow">
					</figure>
					<div class="workshop-info">
						<h3>Private Public School</h3>
						<div class="date">29th February 2091</div>
					</div>
				</a>
			</article>
		</div>

	</section>

	<footer>
		<div class="container">
			<div class="row table">
				<div class="eight columns table-cell-center">
					<h5 class="">Footer Content</h5>
					<p class="">You can use rows and columns here to organize your footer content.</p>
				</div>

				<div class="four columns do center table-cell-center">
					<p>Powered by</p>
					<img src="img/do.png">
				</div>
			</div>
		</div>
	</footer>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="/javascripts/index.js"></script>
</body>
</html>
