<h1>Level 1</h1>

<p>Let’s get started, {{user}}! First, let me explain the Shell to you. The Shell is that big box on the right. Here you can only write one line at a time. The purpose of this `shell` is to get you started with Python immediately. As of now, you won’t need to worry about other more complex problems of the AE project, because we’ll first learn the concepts here and then practice solving problems.</p>

<p>So with that being said, let’s get started!</p>

<p>A computer in its simplest form is a calculator, and can do everything a basic calculator can(+, -, ×, ÷). The only difference between your calculator and Python is that we use * for multiplication (×) and / for division (÷).</p>

<p>Just like humans, computers follow <span id="w1">BODMAS.</span> <span id="p1">Bracket, Of, Division, Multiplication, Addition, and Subtraction</span></p>

<p>Let’s look at a few examples:</p>

<pre><code>&gt;&gt;&gt; (10+10) / 2                    #Output:10.0
10.0
&gt;&gt;&gt; (10+10)*2                      #Output:40
40
&gt;&gt;&gt; 10 + 10 - 5                    #Output:15
15</code></pre>

<p>You must be wondering what’s after # and why it’s used. That’s known as a comment, it is used to explain whatever is written in the program by the programmer, the computer ignores everything after # in that line of the program.</p>

<p>We have two more functions in programming:</p>

<ol><li><strong>Modulus:</strong> it is represented with %. It gives the remainder when you are dividing two numbers. Example: 5%2 = 1 because when 5 is divided by 2, 1 is the remainder.</li>
<li><strong>Power:</strong> it is represented with ** which puts an exponent on the base. Example: 5<sup>2</sup> will be written as 5**2 which will give the value of 25.</li></ol>

<p>Example:</p>

<pre><code>&gt;&gt;&gt; 5%2       #Output: 1; (5÷2 = 2 remainder 1!)
1
&gt;&gt;&gt; 5**2      #Output: 25; (5<sup>2</sup> = 25) 
25
</code></pre>

<h3>Question</h3>

<p>Here are some equations that you can plug into the shell and enter your answer in the following table - you will get a better understanding if you try to solve it in your head or on paper first.</p>

<table>
	<tr>
		<th>Equation</th>
		<th>Solution</th>
	</tr>
	<tr>
		<td>2 * 4</td>
		<td><input type="text" name="q1" value="8"></td>
	</tr>
	<tr>
		<td>(5 + 2) * 6</td>
		<td><input type="text" name="q2"></td>
	</tr>
	<tr>
		<td>7 / 4</td>
		<td><input type="text" name="q3"></td>
	</tr>
	<tr>
		<td>16.0 * 0.5</td>
		<td><input type="text" name="q4"></td>
	</tr>
	<tr>
		<td>3 ** 2</td>
		<td><input type="text" name="q5"></td>
	</tr>
	<tr>
		<td>16.0 ** 0.5</td>
		<td><input type="text" name="q6"></td>
	</tr>
	<tr>
		<td>17 % 2</td>
		<td><input type="text" name="q7"></td>
	</tr>
</table>


<input type="submit">