<h1>Lists</h1>
<p>
	Eve’s mom wants her to go grocery shopping for their bakery, so, she makes a list of all the items she needs. Her list contains the following items:
	<ul>
		<li>Butter</li>
		<li>Milk</li>
		<li>Chocolate</li>
		<li>Bread</li>
	</ul>
	<img src="/img/illustrations/buttermilkchocolatebread.png" alt="" width="100%">
	<br><br>
	Python offers a tool called lists to keep track of related "things," or values. To help Eve, let's make a list called shopping_list  and fill it with each of the items:<br><br>

	<pre>
shoppinglist=["Butter","Milk","Chocolate","Bread"]
	</pre>

	<b>Note:</b> We use square brackets to create a list. Each item in the list is separated by a comma!<br><br>

	To call and check an item in the list, we use the following format:<br>
	<pre>shoppinglist[item_number]</pre>

	This looks familiar to indexing in strings, doesn’t it? That’s because it works the exact same way. We can call a specific item in the list by typing the name of the list, then entering the item’s <a id="w1" href="#" onclick="return false;"><b>position</b></a> <span id="p1" class="hidden">also called an index number is</span> inside square brackets ([]), Now, let’s try to print the first element from the list and seeing if it prints Butter:<br>

	<pre>print(shoppinglist[1])</pre>

	Try and run this. Did it return "Butter"? Nope, It printed Milk, didn’t it? That’s because, just like for strings, Python starts counting from 0. If we want to print the fourth item in the shoppinglist (bread) we can do so like this:<br>

	<pre>print(shoppinglist[3])</pre>

	Output: Bread<br>
	Even though Bread is the 4th item, it’s index position is 3.<br><br>

	Eve forgot to add flour to her list! Oh no, how will she bake her cake now?<br>
	Fear not...you can add flour to her shopping list since there’s no limit for the length of the shopping list.<br><br>

	The syntax for adding a new element to the end of the list is: <br><br>

	<pre>list_name.append(item)</pre>

	<pre>
shoppinglist.append("flour")
	</pre>
	<img src="/img/illustrations/buttermilkchocolatebreadflour.png" alt=""width="100%">
	<br><br>
	Now using .append(), the item can only be added to the end of the list. But do not fret, we can add the item to whichever position you like using another function <b>insert()</b><br><br>

	<pre>list_name.insert(index number, item)</pre>

	<pre>
shoppinglist.insert(1,"flour")
	</pre>

	Within the brackets first mention the desired  <i>index number</i>  and then the item.<br><br>

	Eve realised she doesn’t need 2 packets of flour! Let’s replace the last flour with toffees!<br><br>

	<pre>list_name[index] = element</pre>

	<pre>
shoppinglist[5] = "Toffees"
	</pre>
	<img src="/img/illustrations/butterflourmilkchocolatebreadtoffees.png" alt="" width="100%">
	<br><br>
	Sometimes you need to remove something from the list, that can achieved by yet another function <b>remove()</b>.
	Silly Eve forgot she already had a loaf of bread at home, so she needs our help to remove that item from the list.<br><br>

	<pre>list_name.remove(element)</pre>

	<pre>
shoppinglist.remove("bread")
	</pre>
<img src="/img/illustrations/butterflourmilkchocolatetoffee.png" alt="" width="100%">

</p>
<br><br>

<h2>Question</h2>

<p>

	Eve’s shopping list has the following items:<br>
	<ul>
		<li>Butter</li>
		<li>Milk</li>
		<li>Chocolate</li>
		<li>Flour</li>
		<li>Apples</li>
	</ul>

	In that specific order. Add these items to a list and print ‘Flour’ from the list.


</p>