<h1>Level 11</h1>
<p>Hey {{user}}! Our team is doing really well and we have recently recruited many others. Let me assign you with a small task. Your task will be to maintain a record in which all the names of people who are working on this project will be stored. You can make a function that will do this task. You will initially be starting with a record which will have some names but you will have to update the remaining. Also keep in mind we might have to transfer a few recruits to other departments as well so you also need to find a solution to remove such names from that record.</p>

<p>Let’s first learn something that will help you in this process. </p>

<p>You have been working with variables that can hold a single value what if there was a way for any variable to hold more than one. Let me introduce you to lists. Yes, it is exactly like your mom’s grocery list, a sequence of items. </p>

<p>Let's work on an example now. On your shell type the following:</p>

<pre><code>>>> list1 = [2,4,6,8]
>>> list2 = [‘Dog’,‘Cat’,‘Fish’,‘Parrot’]</code></pre>

<p>In the above example you created 2 lists. To create a list you need to add the various elements inside [] and then assign it to a variable.
The first list you created is a list of even numbers less than 10. Next is a list of common pets.</p>

<p>You know how strings work. You can draw some parallel between strings and lists. Just like strings you can access a particular element using indexing and slice a few elements of the list.</p>

<pre><code>>>> list1[2]
6
>>> list2[2:]
[‘Fish’,‘Parrot’]</code></pre>

<p>You can also add elements to a list using append:</p>

<pre><code>>>> list2.append(‘Rabbit’)
>>> print(list2)
[‘Dog’,‘Cat’,‘Fish’,‘Parrot’,‘Rabbit’]</code></pre>

<p>You can also delete elements from lists using the index or the element you want to delete.</p>

<pre><code>>>> list1.pop(1)
4
>>> print(list1)
[2,6,8]
>>> list1.remove(6)
>>> print(list1)
[2,8]</code></pre>

<p>Using <code>variableName.pop(index)</code> method to remove element at particular index and <code>variableName.remove(element)</code> method to delete the first occurence of the given element from the list.</p>

<p>Now that you have a fair amount of understanding let's work on the problem I gave earlier.</p>

<pre><code>#here listOfNames is a list where names are stored and newName is the name to be added.
def addEmploy(listOfNames,newName):
    listOfNames.append(newName)

#now think of a function to remove a name again given 2 parameters list of names and name to be deleted.</code></pre>

<input type="submit">