<h1>Level 13</h1>
<p>Our team is growing fast, really fast {{user}}! But there are some problems with growing so fast, one we need to know if we have enough money in the bank to hire more people, two we need to know if we have enough space in our office for employees to work. The HR team will contact you soon to run some computations to check if we can hire more people but before we do, I think the following tool will be really useful for you. That is, <strong>if</strong> you pay attention. ;)</p>

<p>This is probably the most powerful computational tool, it’s called an If statement. If statements use <span id="w1">Boolean expressions</span><span id="p1"> (True and False, covered in the level before this)</span> to decide whether or not a certain block of code will run. So, if the condition is `True`, then the block will run; here’s an example:</p>


<pre><code>numberToCheck = 2
if numberToCheck%2 == 0:
    print("number is even")
else:
    print("number is odd")</code></pre>

<p>In this case a number is being assigned to the variable `numberToCheck` and when `numberToCheck` is divided by 2 we are checking if the remainder is 0, if it is 0 then it’ll print "number is even", else it’ll print "number is odd."</p>

<p>Now, let’s create a simple survey, I want to write an interactive program to check with my employees which tech companies they prefer and based on that we’d gift them a new phone. We have 3 possible options from our service providers: Apple iPhones, Samsung Galaxy s8 and Google Pixel. If they don’t like any company they may enter nothing and get no phone.</p>

<pre><code>print("what company do you prefer from Apple, Samsung and Google? If you don’t like any, press enter.")
phoneCompany = input()
if phoneCompany == "Apple":
    print("You get an iPhone!")
elif phoneCompany == "Samsung":
    print("You get a Galaxy s8!")
elif phoneCompany == "Google":
    print("You get a Google Pixel!")
else:
    print("You get no phone. :/")</code></pre>

<p>Over here we see a new statement, it’s called elif. elif is basically a shorter version of an else statement inside of which is an if statement. Without elif our code won’t be very readable, here’s the same program but instead of elif we only use if-else statements.</p>

<pre><code>print("what company do you prefer from Apple, Samsung and Google? If you don't like any, press enter.")
phoneCompany = input()
if phoneCompany == "Apple":
    print("You get an iPhone!")
else:
    if phoneCompany == "Samsung":
        print("You get a Galaxy S8!")
    else:
        if phoneCompany == "Google":
            print("You get a Google Pixel!")
        else:
           print("You get no phone. :/")</code></pre>

<p>As we can see, elif is a lifesaver! Copy and paste both the code blocks to see how they run, and try it out!</p>
