<h1>Level 14</h1>
<p>Hello! I’m Josh from the HR team! Back to our problem in hand, we’re growing at a really fast rate and we’re hiring new developers every month, we need to hire as many as possible. We pay each of our developers a standard salary of $70,500. We’ll give you the surplus money in our account and the number of empty desks in our office</p>


<p>Here are some sample <span id="w1">I/O</span><span id="p1"> (input and output)</span>:</p>

<table>
	<tr><th>input</th><th>output</th></tr>
	<tr><td>352500<br>11</td><td>5</td></tr>
</table>
<p>In this example there are 11 empty desks and only enough money for 5 programmers, so a maximum of 5 programmers can be hired.</p>
<p>Note: if you're wondering what the int(input()) function is, it converts the input that you type from a string to an integer, so you can perform calculations on it.</p>