<h1>Level 15</h1>

<p>Hey {{user}}! Everything in life has a specific function. For example, your function is to assist me and the computer screen’s function is to display things. Just like that, there are certain elements of code which are present to perform a certain function.</p>

<p>Functions are a block of code that you can run again at any point of time in your program. Let’s look at an example to see how it works.</p>

<pre><code>#sayHello is a function.
def sayHello():
    return("hello world!")

print("this is a line of text")
print(sayHello())
print("this is another line of text")
print(sayHello())</code></pre>

<p>Let’s see what’s happening in this <span id="w1">code snippet</span><span id="p1"> (a small piece of code)</span>. The keyword <b>def</b> is used to define a function. It is followed by a function name which in this case is "sayHello( )" . Every function must have an open and a close parenthesis ( ) . <span id="w2">You have encountered it before, do you remember?</span><span id="p2">(Remember the inbuilt functions print, input, and type, all had open and close parentheses following them)</span> This is followed by a “:” as a part of the syntax. All functions return some value in this case “hello world”. The full syntax is:
</p>

<pre><code>def function_name():
	return some_value
</code></pre>

<p>Once we run this program the first thing to be printed is “this is a line of text”. Then on the next line “hello world!” gets printed because we call the function sayHello( ) followed by “this is another line of text” and then finally “hello world!” since sayHello() is being called again.</p>

<p>Now, this is useful as it can help reduce several lines in a program but it would be more interesting if we could give it some input and it’ll return a unique output for every input. We can do that! Let’s take the addition example we used before.</p>

<pre><code>def addNum(a, b):
    return(a+b)

print(addNum(5,2))</code></pre>

<p>Here we defining a function called addNum which takes two inputs a and b. Later we are calling addNum and giving it inputs of 5 and 2. So when we call the function, a and b will be 5 and 2, respectively. Hence the output of will be 7.</p>