<h1>Level 2</h1>
<p>Hello there {{user}}! I have something interesting for you today. The early programmers had their origins in mathematics. So, it shouldn’t be surprising to see a bit of algebra here. Just like in mathematics, programming can too have <span id="w1">variables</span>. <span id="p1">This might seem new to you but you definity have used it, a few examples being x = 10, y = 20, x + y = 30, etc.</span> Let's look at the few examples given below to get a better understanding.</p>

<pre><code>>>> iHaveAName = 25
>>> x = 60</code></pre>

<p>In the first line of the code shown above, the variable named “iHaveAName” is being set to 25. In the second line, the variable named “x” is set to 60. This is known as an assignment statement, which assigns a value to a variable.</p>

<p>Giving names to things makes it easier to reference them later. It’s much easier to refer to you as “{{user}}” than “That person helping Ada build her Analytical Engine.”</p>

<p>Now that we have names for a few values let’s start calling them by their names.</p>

<pre><code>>>> iHaveAName + x
85</code></pre>

<p>In the code above, I had Python add the value of “iHaveAName” and “x”. Could you check my math for me? Is it correct? I know this might seem a bit simple, but that’s how even the most complicated programs start&mdash;simple. When we start writing really big programs you will realise that referring to parts of a program by name is a lifesaver.</p>

<p><b>Please complete the following and press Submit to Continue.</b></p>

<table>
	<tr>
		<th>Statement/Expression</th>
		<th>Output</th>
	</tr>
	<tr>
		<td>iHaveAName = 25</td>
		<td>Assignment</td>
	</tr>
	<tr>
		<td>x = 60</td>
		<td>Assignment</td>
	</tr>
	<tr>
		<td>y = 40</td>
		<td>Assignment</td>
	</tr>
	<tr>
		<td>iHaveAName + x - y</td>
		<td><input type="text" name="q1"></td>
	</tr>
</table>

<input type="submit">

<!-- load prefile for level 2 into cmdline -->
<script>
	var prefile = 2;
</script>