<h1>Level 2</h1>
<p>Hello there {{user}}! I have something interesting for you today. The early programmers had their origins in mathematics. So, it shouldn’t be surprising to see a bit of algebra here. Just like in mathematics we can have <span id="w1">variables</span>. <span id="p1">This might seem new to you but you definity have used it, a few examples being x = 10, y = 20, x + y = 30, etc.</span> Look at the few examples given below to get a better understanding.</p>

<pre><code>>>> iHaveAName = 25
>>> x = 60</code></pre>

<p>In the first line of the code shown above, the variable named “iHaveAName” is being set to 25. In the second line, the variable named “x” is being set to 60.</p>

<p>Giving names to things makes it easier to reference them later. It’s much easier to refer to you as “{{user}}” than it is “That person helping Ada build her Analytical Engine.”</p>

<p>Now that we have names for a couple of values let’s start calling them by their names.</p>

<pre><code>>>> iHaveAName + x
85</code></pre>

<p>In the code above, I had Python add the value of “iHaveAName” and “x”. Could you check my math for me? Is it correct? I know this might seem a bit simple, but that’s how even the most complicated programs start&mdash;simple. When we start writing really big programs you will realise that referring to parts of a program by name is a lifesaver.</p>

<p><b>Press Submit to Continue.</b></p>

<input type="submit">