<h1>Level 3</h1>
<p>Programming, although a powerful tool, can be a bit weird. There is a difference between 4 and 4.0, can you tell me what it is? Both have the same values but the computer looks at both at differently: 4 has the type called integer (int) and 4.0 has the type float. It’s called a float because it has a decimal point next to it. If you’re ever confused about the type of a variable or an expression you can always use a function in Python called <code>type(variable)</code>. Whatever you put in it will return the type of it, be it a single number or a mathematical expression or even a variable.</p>

<pre><code>>>> type(x)   
&lt;class 'int'&gt;
</code></pre>

<p>type() is a function which tells you about the datatype of the variable or expression.</p>

<pre><code>>>> x = 60.0  
&lt;class 'float'&gt;
</code></pre>

<h3>Question</h3>

<p>Remember when I told you that I use variables in programming to remember stuff that I don’t want to? We have a bit of a conundrum now! I have created certain variables but I cannot seem to recall their type! Help me!</p>

<table>
	<tr>
		<th>Statement/Expression</th>
		<th>Output</th>
	</tr>
	<tr>
		<td>x = 2</td>
		<td><input type="text" name="q1" value="int"></td>
	</tr>
	<tr>
		<td>y = 4.0</td>
		<td><input type="text" name="q2"></td>
	</tr>
	<tr>
		<td>z = 1</td>
		<td><input type="text" name="q3"></td>
	</tr>
	<tr>
		<td>a = 6.0</td>
		<td><input type="text" name="q4"></td>
	</tr>
	<tr>
		<td>b = 11</td>
		<td><input type="text" name="q5"></td>
	</tr>
	<tr>
		<td>c = -35</td>
		<td><input type="text" name="q6"></td>
	</tr>
</table>

<input type="submit">