<h1>Level 4</h1>

<p>Hi there! Looks like you’re well versed on how to use math in programming, so now we can give you some real problems. I’ll give you the measurements of several objects that we’ll be putting into the supercomputer,and you need to sum up their volume and let me know in the box below.</p>

<ol>
	<li>1 <span id="w1">Cuboidal</span> heat sink <span id="p1">(vol = length x breadth x height)</span> with 4, 8, 7 meters length, breadth and height, respectively.</li>
	<li>3 metallic <span id="w2">spheres</span> <span id="p2">(vol = 4/3 x (22/7) x r^3)</span> with radius 3.5 meters.</li>
	<li>7 <span id="w3">cylindrical</span> capacitors <span id="p3">(vol = (22/7) x r x r x h)</span> with radius of 4 meters and height of 17 meters.</li>
</ol>

<table>
	<tr>
		<td>The total volume is:</td><td><input type="text" name="q1"></td>
	</tr>
</table>

<input type="submit">