<h1>Arithmetic</h1>
<p>
	You’ve probably heard that Math and programming have a lot in common. It’s quite true since programming is based on Mathematics the same way Physics is. It shouldn’t be much of a surprise to see a lot of Mathematics in programming. <br><br>

	Till now, we’ve seen strings being assigned to variables; but, just like in maths we can assign integers to variables and do mathematical operations on them.<br> <br>

	A computer in its simplest form is a calculator and it can do everything that a basic calculator(+, -, ×, ÷) can do (and it can do it really well). The only difference between your calculator and Python is that we use * for multiplication (×) and / for division (÷).<br><br>

	<b>Note:</b> Computers do follow BODMAS. <br><br>

	Let’s look at some examples:<br>

	<pre>
x = 10 #Assign the variable x to the int 10!<br>
print((x+10)/2)                    #Output:10 <br>
print((x+10)*2)                    #Output:40 <br>
print(x + 10 - 5)                  #Output:15 <br>
	</pre>


</p>


<p>
	We have one more function in programming called modulus, it is represented with %. It gives the remainder when you are dividing two numbers. <br> <br>

	<pre>
print(5%2) #Output:1 (5÷2 = 2 remainder 1!)
	</pre>
</p>


<h2>Question</h2>

<p>

	Eve wants to calculate the final price after a discount is applied on an order. She is told that the total price is $150 and the amount of discount given is 25%. Calculate the price after the 25% discount and print this <a id="w1" href="#" onclick="return false;"><b>discounted price.</b></a><span id="p1" class="hidden"> If you need a refresher then discounted_price = total_price*((100-discount)/100)</span>

</p>
