<h1>Level 5</h1>
<p>The box on the top right seems different now, doesn’t it? That’s because you were at the scripting area before, where you were learning the basic tools of programming and this is the text editor where you’ll be writing bigger and more complex programs.</p>

<p>Let’s learn about a function called print() now, which makes the computer output anything you wish. Now let’s make your very first program.</p>

<p>Write the following lines of code in the text editor and click compile. </p>

<pre><code>print("Hello World!")</code></pre>

<p>Voilá, you have successfully created your first program.</p>

<p>Now let’s take a closer look at the print() function we discussed earlier.
In the given lines of code, the print() function prints out everything that is inside the quotation marks.</p>

<p>Change the earlier code given to the following code.</p>

<pre><code>a = 7
print(a)
a = "Hello World!"
print(a)</code></pre>

<p>In the previous section, we talked about variables so in these lines we create a new variable 'a' and assign it the value 7. We then use the print() function to print the variable with print(variable_name).</p>

<p>Again we reuse the variable 'a' and assign it "Hello World!" which is a variable of the <span id="w1">string</span> type, and then again print it using the print function. <span id="p1">String is a data type which includes all characters, symbols, etc and is used to store words and sentences.</span></p>