<h1>Level 6</h1>
<p>We have now learnt how to write basic programs and do a bit of math with Python. Congratulations! You can now call yourself a programmer! But with that being said {{user}}, your journey is just getting started, and it’s a long but exciting path ahead! Don’t worry, programming isn’t all just math. It might have seemed so till now, but there’s much more to it than that. In the future we’d have people talking to computers for all we know! So, let’s get started with the human aspect of programming. We as the creators of computers want to be able to help people,  even non programmers, and so did the creators of Python. They introduced something called <span id="w1">Input and Output. </span><span id="p1">Input is what you give to a computer and the Output is something that the computer gives you in return.</span> An example of this could be you moving your mouse (which is an input) and the cursor moving on the computer (which is an output).</p>

<p>This is the following usage for input:</p>

<pre><code>>>> x = input()
10</code></pre>

<p>Here we are basically asking for a value and assigning it to x. So, after the first line has been run you need to enter a number that gets assigned to x. Go ahead and try it out on the shell next to you!</p>

<p>Now that we know how to assign values that the user has entered, we must also know how to call those values, i.e output.</p>

<pre><code>>>> print(x)
10</code></pre>

<p>Here you are asking the computer to return the value stored in the variable x. This might seem a bit redundant for small programs in the shell but when we write bigger programs(like in the next level) you’d realise how useful they are.</p>

<p>We don’t have any questions for this level, just feel free to experiment with what you just learnt.</p>