<h1>Conditionals - True and False</h1><br>

<p>

	<img src="/img/illustrations/phone.png" alt="" style="width: 25%; float: left; padding-right: 1rem">
	Eve's parents agreed to buy her a new mobile when she turns 18. Therefore, if the condition is met (True, her age being 18), then she gets her new mobile; if not (False), then she won’t get it. Similarly, there are conditions in programming. 
</p>


<p>
	Conditional values can be stored in data types called ‘booleans’. A boolean has two states, either true or false. If a boolean value is True, then its value is one; and if a boolean value is False, its value is zero. <br> <br>


	The status of conditionals can be checked using relational operators. The four main relational operators we will be covering are > (greater than), < (less than), <a id="w1" href="#" onclick="return false;"><b>== (equals to) </b></a><span id="p1" class="hidden">(You'd have noticed we use == instead of =, that's because = is used to assign a value to a variable and == is used to compare two variables)</span> and != (not equals to). Some examples would be:

</p>
	<pre>
print(3 < 4 )			#Output: True
print(7 == 9)			#Output: False
print(4 > 3)  			#Output: True
print(5 < 2) 			#Output: False
print(5 - 3 == 4 - 2)		#Output: True
print(3 != 6)			#Output: True
	</pre>



<p>
	If a check such as (3 > 4) is put, the the boolean will be set to False. <br><br>
	For example: Eve got a phone call for booking 200 loaves of bread. But, she knows her family cannot bake more than 150, so she turned down the order. That’s because 200 < 150 is False.<br><br>

	Conditions are often used to determine whether or not certain blocks of code are executed. We will learn more about this in the next section, control flow.

</p>


<h2>Question</h2>

<p>

	Eve and her Friends are playing the game Two Truths One Lie. Create 3 different mathematical statements, and print them!The first and third statement True, while the second should be False.

</p>