<h1>Level 8</h1>

<p>While doing fancy maths is pretty cool, a computer can do much more than that. It can talk! You must have seen this before and we told you that this is called a string.</p>

<pre><code>thisIsASentence = "hello world"</code></pre>

<p>It is used to store words and sentences in Python. You may think of it as a chain of letters, numbers or anything you can type on your keyboard, hence the name String as its a ‘string’ of <span id="w1">characters</span><span id="p1"> (most keys that you can see on your keyboard)</span>.</p>

<p>You can also do some basic math on strings, this might seem a bit weird but remember, simple computers don’t know how to talk.</p>

<pre><code>>>> a = "hello"
>>> a + " world"
hello world
>>> a*5
hellohellohellohellohello</code></pre>

<h3>Practice Question</h3>
<br>

<table>
	<tr>
		<th>Input</th>
		<th>Output</th>
	</tr>
	<tr>
		<td>s = "Hello"</td>
		<td>Assignment</td>
	</tr>
	<tr>
		<td>b = "World!"</td>
		<td>Assignment</td>
	</tr>
	<tr>
		<td>s*3</td>
		<td><input type="text" name="q1"></td>
	</tr>	<tr>
		<td>(s+b)*2</td>
		<td><input type="text" name="q2"></td>
	</tr>
	<tr>
		<td>"" + "lol"</td>
		<td><input type="text" name="q3"></td>
	</tr>
	<tr>
		<td>"" + "4 / 2"</td>
		<td><input type="text" name="q4"></td>
	</tr>
	<tr>
		<td>"Truth " + "is " + "always " + "best"</td>
		<td><textarea name="q5"></textarea></td>
	</tr>
	<tr>
		<td>"Truth " + "is " + "best" </td>
		<td><input type="text" name="q6"></td>
	</tr>
	<tr>
		<td>"Truth " + ("is " + "best")</td>
		<td><input type="text" name="q7"></td>
	</tr>
</table>

<input type="submit">

<!-- load prefile for level 8 into cmdline -->
<script>
	var prefile = 8;
</script>