<h1>Level 8</h1>

<p>While doing fancy maths is pretty cool, a computer can do much more than that. It can talk! You must have seen this before and we told you that this is called a string.</p>

<pre><code>thisIsASentence = "hello world"</code></pre>

<p>It is used store words and sentences in Python. You may think of it as a chain of letters, numbers or anything you can type on your keyboard, hence the name String as its a ‘string’ of <span id="w1">characters</span><span id="p1"> (most keys that you can see on your keyboard)</span>.</p>

<h3>Basic Operations</h3>
<p>You can also do some basic math on strings, this might seems a bit weird but remember, simple computers don’t know how to talk.</p>

<pre><code>>>> a = "hello"
>>> a + " world"
hello world
>>> a*5
hellohellohellohellohello</code></pre>

<h3>Practice Question</h3>

<table>
	<tr>
		<th>Statement/Expression</th>
		<th>Output</th>
	</tr>
	<tr>
		<td>s[1]</td>
		<td><input type="text" name="q1"></td>
	</tr>
	<tr>
		<td>s[15]</td>
		<td><input type="text" name="q2"></td>
	</tr>
	<tr>
		<td>s[1:5]</td>
		<td><input type="text" name="q3"></td>
	</tr>
	<tr>
		<td>s[:5]</td>
		<td><input type="text" name="q4"></td>
	</tr>
	<tr>
		<td>s[5:] 'H' in s</td>
		<td><input type="text" name="q5"></td>
	</tr>
	<tr>
		<td>'x' in s  index('w')</td>
		<td><input type="text" name="q6"></td>
	</tr>
	<tr>
		<td>s.index('x')</td>
		<td><input type="text" name="q7"></td>
	</tr>
	<tr>
		<td>s.index('l', 5)</td>
		<td><input type="text" name="q8"></td>
	</tr>
	<tr>
		<td>s.find('e')</td>
		<td><input type="text" name="q9"></td>
	</tr>
	<tr>
		<td>s.find('x')</td>
		<td><input type="text" name="q10"></td>
	</tr>
	<tr>
		<td>s[:4:2]</td>
		<td><input type="text" name="q11"></td>
	</tr>
	<tr>
		<td>s[2:9:3]</td>
		<td><input type="text" name="q12"></td>
	</tr>
	<tr>
		<td>s[::-1]</td>
		<td><input type="text" name="q13"></td>
	</tr>
	<tr>
		<td>s:[10:2:-3]</td>
		<td><input type="text" name="q14"></td>
	</tr>
	<tr>
		<td>'' + 'lol'</td>
		<td><input type="text" name="q15"></td>
	</tr>
	<tr>
		<td>'' + '4 / 2'</td>
		<td><input type="text" name="q16"></td>
	</tr>
	<tr>
		<td>'' + 4 / 2 '' + str(4 / 2)</td>
		<td><input type="text" name="q17"></td>
	</tr>
	<tr>
		<td>'Truth ' + 'is ' + 'always ' + 'best'</td>
		<td><input type="text" name="q18"></td>
	</tr>
	<tr>
		<td>"Truth " + "is " + "best"</td>
		<td><input type="text" name="q19"></td>
	</tr>
	<tr>
		<td>"Truth " + ('is ' + "best")</td>
		<td><input type="text" name="q20"></td>
	</tr>
	<tr>
		<td>'A double quote: "'</td>
		<td><input type="text" name="q21"></td>
	</tr>
	<tr>
		<td>"A single quote: '"</td>
		<td><input type="text" name="q22"></td>
	</tr>
	<tr>
		<td>'A single quote: ''</td>
		<td><input type="text" name="q23"></td>
	</tr>
</table>

<input type="submit">

<!-- load prefile for level 8 into cmdline -->
<script>
	var prefile = 8;
</script>

<script>
	
alert('this level (level 8) is incomplete. please inform naman when you see this.');
// incompleteness note: a lot of the answers raise errors, not sure how to accept those


</script>