<h1>Level 9</h1>

<p>I have a very long list of email ids of all my employees but I don’t have a database with all of their names. {{user}}! I need your help! If only there was a fast way to remove ‘@aeproject.co’ from every email ID.  Oh wait, there is! Something that I learnt back during my Introduction to CS class. It’s called slicing. Okay, imagine a pre-cut loaf of bread, the kind you get from the supermarket. Now imagine a letter written on each slice. The whole loaf together will form a word or a sentence, or dare I say it, a String! Just like that we can also count the number of slices from <span id="w1">0 onwards</span><span id="p1"> Programmers are strange, they count from 0 and not from 1 like 0,1,2,3… </span>. Just like the figure shown below, we can also assign numbers backwards.</p>

<img src="/img/illustrations/level8/indices.png">

<p>Use the following examples in the terminal to get a better idea about how they work.</p>

<p>Say, I want to get the letter `e` from the string, this is what I’m going to do:</p>

<pre><code>x="Hello"
x[1]</code></pre>

<p>Now, that we know how to remove a letter, this is how we remove a <span id="w2">substring</span><span id="p2"> (a part of a string)</span>. Let’s try to take out `ll`.</p>

<pre><code>x="Hello"
x[2:4]</code></pre>

<p>You might be wondering why we used 2:4 instead of 2:3. That’s because the first index number is <span id="w3">inclusive</span><span id="p3"> (includes that position)</span> and the last index number is <span id="w4">exclusive</span><span id="p4"> (doesn’t include that position)</span>. In other words, the sliced string only includes characters up to the character before the ending index.</p>

<p>Now you’d ask how do we get rid of all letters after a point? It’s simple. Let’s say we need to get all letters after `e` in the string, this is how we’re going to do it:</p>

<pre><code>x="Hello"
x[1:]</code></pre>

<p>And if we only want letters before `o`, we do the following:</p>

<pre><code>x="Hello"
x[:-1]</code></pre>

<p>P.s. keep this in mind, it will be handy for the next level.</p>

<input type="submit">