*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Europa;
  color: #333;
  width: 100%;
}

header {
  position: fixed;
  border-bottom: 1px solid #eee;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  line-height: 5rem;
  display: flex;
  justify-content: space-between;
  padding: 0 calc(50% - 512px); /* 512*2 = 1024px width */
  color: white;
  background: #ffffffc7;
}

header .logo img {
  height: 2.5rem !important;
  width: auto;
  margin: 1rem;
}

header nav {
  display: flex;
}

header nav a {
  display: inline-block;
  padding: 0 2.5rem;
  color: inherit;
  text-decoration: none;
  position: relative;
  font-size: 100%;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
}

header nav a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(0);
  transform-origin: center top;
  transition: all 0.1s ease-in-out;
}

header nav a:hover {
  opacity: 0.5;
}

header nav a:hover:before {
  transform: scaleY(1);
}

header nav a span {
  position: relative;
}

div .row {
    padding: 5% 0;
}

.dark {
    background-color: #f1f1f1;
}

.row {
    margin-left: 15px;
    margin-right: 15px;
}

header {
    z-index: 9999;
}

section.mast.about-mast {
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    background-image: url(/img/five.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
}

section.mast.about-mast div.container h1 {
    background: #fc546fab;
    color: white;
    display: inline-block;
    padding: 2rem 3rem;
    font-size: 4rem;
    border-radius: 1rem;
}

section.description {
    background: white;
    padding: 10rem 0 5rem;
    border-bottom: 2px solid #eee;
}

.big-quote blockquote {
    font-size: 2.6rem;
    font-weight: lighter;
    text-align: center;
}

.big-quote.big-quote {
  padding: 0 5rem 3rem 5rem;
}

.big-quote cite {
    display: block;
    text-align: right;
    padding: 0 6rem 0 0;
    font-size: 1.4rem;
    font-weight: lighter;
    font-style: normal;
    width: 100%;
    box-sizing: border-box;
}

.big-quote cite:before {
    content: ' - ';
}

.desc-box h3 {
    font-size: 1.66rem;
    padding-bottom: 1.5rem;
    font-weight: normal;
    text-align: center;
}

.desc-box p {
    line-height: 1.5;
}

.desc-box.column-4 {
    width: 28.333%;
    margin: 0 1.5%;
}

.desc-box.column-4:first-of-type {
    margin-left: 3%;
}

.desc-box.column-4:last-of-type {
    margin-right: 3%;
}

section.timeline {
    background: #ff115199;
    color: white;
    padding-bottom: 6em;
}

.timeline-items-container {
    height: 15rem;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 0 7.5%;
}

.timeline-items-container:before {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 1px;
    margin: auto;
    width: 90%;
    background: white;
    content: '';
}

.timeline-item {
    flex: 1;
    text-align: center;
    height: 50%;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    padding-bottom: 3rem;
}

.timeline-item:nth-child(even) {
    align-self: flex-end;
    justify-content: flex-end;
    padding-top: 3rem;
    padding-bottom: 0;
}

.timeline-item:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -0.375rem;
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 50%;
    border: 0.125rem solid white;
    margin: auto;
    background-color: #ff1151;
    display: block;
    z-index: 2;
}

.timeline-item:nth-child(even):before {
    bottom: auto;
    top: -0.375rem;
}

.timeline-item:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 2.25rem;
    width: 1px;
    background: white;
}

.timeline-item:nth-child(odd):after {
    bottom: 0;
}

.timeline-item:nth-child(even):after {
    top: 0;
}

span.date {
    font-size: 1.25rem;
}


section#main {
  background: linear-gradient(150deg, #f37 10%, #ff3377db 20%, #ff334485 70%);
  color: white;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

section#main h1 {
  font-family: Europa;
  font-size: 4.5rem;
  font-weight: 600;
  letter-spacing: -0.1rem;
  margin: 1rem 0 0;
}

section#main h3 {
  font-family: Europa;
  font-size: 1.5rem;
  font-weight: 200;
  margin: -0.3rem 0 0;
}

section#main .header-buttons {
  margin: 2rem 0 0;
}

a.button {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: 1px solid white;
  margin: 0 0.5rem;
  border-radius: 0.3rem;
  transition: all 0.2s ease-in-out;
}

a.button:hover {
  color: #f35;
  background-color: #eee;
}

a.button.emphasis {
  color: #f35;
  background: #fff;
  transition: all 0.2s ease-in-out;
}

a.button.emphasis:hover {
  background: #eee;
}

/*Anish, this thing is called a grid. *please* use it.*/
.container,
.row {
  *zoom: 1;
}

.container:before,
.row:before, .container:after,
.row:after {
  content: " ";
  display: table;
}

.container:after,
.row:after {
  clear: both;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  width: auto;
  max-width: 100%;
  height: auto !important;
}

.container {
  width: 90%;
  margin: 0 auto;
}

[class*='column-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px;
}

@media only screen and (min-width: 30em) {
  .container {
    width: 100%;
    max-width: 80em;
  }
  .column-1 {
    width: 8.33333%;
  }
  .column-2 {
    width: 16.66667%;
  }
  .column-3 {
    width: 25%;
  }
  .column-4 {
    width: 33.33333%;
  }
  .column-5 {
    width: 41.66667%;
  }
  .column-6 {
    width: 50%;
  }
  .column-7 {
    width: 58.33333%;
  }
  .column-8 {
    width: 66.66667%;
  }
  .column-9 {
    width: 75%;
  }
  .column-10 {
    width: 83.33333%;
  }
  .column-11 {
    width: 91.66667%;
  }
  .column-12 {
    width: 100%;
  }
}

.card a:hover {
  background-color: #fff;
  transform: translate(0, -20px);
  box-shadow: 0 40px 40px rgba(0, 0, 0, 0.16);
}

.center {
  text-align: center;
}

.container .center h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

section.mast div.container h1 {
  font-size: 3em;
  padding-left: 0;
}

section.mast div.container p {
  padding-left: 0;
}


article img {
      border-radius: 50%;
}

.card-content h2 {
  margin-bottom: 0 !important;
  font-size: 1.5em;
  font-weight: 600 !important;
}

.card-content span {
  color: #bbb;
  font-weight: 400;
}

.card-content p {
  margin-top: 1.5em !important;
}

article.card.column-6.table {
    box-sizing: border-box;
    align-self: stretch;
}

.cards > .container > .center {
    width: 100%;
}

.cards > .container {
    display: flex;
    flex-wrap: wrap;
}

@media(max-width: 864px) {
  .timeline-items-container {
      height: auto;
      flex-direction: column;
      align-items: flex-start;
      padding: 0;
      max-width: 25rem;
      margin: auto;
  }

  .timeline-items-container:before {
      height: 100%;
      width: 1px;
      left: 0;
  }

  .timeline-item {
      text-align: left;
      padding: 3.5rem 0 2rem 3.5rem !important;
      justify-content: flex-start !important;
  }

  .timeline-item:nth-child(even) {
      align-self: flex-start;
  }

  .timeline-item:before {
      top: 0 !important;
      bottom: 0 !important;
      left: -0.375rem;
      right: auto;
  }

  .timeline-item:after {
      top: 0;
      bottom: 0;
      left: 0;
      right: auto;
      width: 2rem;
      height: 1px;
  }
}