body, html {
  font-family: Europa;
  margin: 0px;
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #f2f2f2
}

::-moz-selection { background-color: rgba(255, 51, 85, .45); }
::selection { background-color: rgba(255, 51, 85, .45); }

h1,h2,h3,h4,h5,h6 {
  margin: 0px;
}

input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}


/*[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;  
}

.card {
  width: 390px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 50px 100px;

  box-shadow: 0 10px 35px 0px rgba(0, 0, 0, 0.1);
}


/*[ Form ]*/

.formlogin {
  width: 100%;
}

.formtitle {
  display: block;
  font-size: 50px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 45px;
}

/*[ Input ]*/

.inputtype {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

.an-input {
  font-size: 15px;
  color: #555555;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}

.focus-an-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-an-input::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: linear-gradient(-30deg, #f37 10%, #ff334485 90%);
}

.focus-an-input::after {
  font-size: 15px;
  color: #999999;
  line-height: 1.2;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.an-input:focus + .focus-an-input::after {
  top: -15px;
}

.an-input:focus + .focus-an-input::before {
  width: 100%;
}

.hasvalue.an-input + .focus-an-input::after {
  top: -15px;
}

.hasvalue.an-input + .focus-an-input::before {
  width: 100%;
}


/*[ Button ]*/
.formbutton {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.form-in-button {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
}

.bgbutton {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: linear-gradient(-30deg, #f37 10%, #ff334485 90%);
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.loginbutton {
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
}

.form-in-button:hover .bgbutton {
  left: 0;
}


/*[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 25px 50px;
  }
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}