@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,500,500i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:200');

/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 600; }
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}
/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/

body {
  padding: 0;
    margin: 0;
    font-family: Europa, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #0a0a0a;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: table;
    width: 100%;
}

::-moz-selection { background-color: rgba(255, 51, 85, .45); }
::selection { background-color: rgba(255, 51, 85, .45); }

.center {
  text-align: center;
}

div.masthead {
  height: 100%;
  min-height: 100%;
  display: inline-block;
}

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Europa;
	color: #333;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 5rem;
	line-height: 5rem;
	display: flex;
	justify-content: space-between;
	padding: 0 calc(50% - 512px); /* 512*2 = 1024px width */
	color: white;
  z-index: 9999;
}

header .logo img {
  height: 2.5rem !important;
  width: auto;
  margin: 1rem;
}

header nav {
	display: flex;
}

header nav a {
  display: inline-block;
  padding: 0 2.5rem;
  color: inherit;
  text-decoration: none;
  position: relative;
  font-size: 100%;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
}

header nav a:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: scaleY(0);
	transform-origin: center top;
	transition: all 0.1s ease-in-out;
}

header nav a:hover {
	opacity: 0.5;
}

header nav a:hover:before {
	transform: scaleY(1);
}

header nav a span {
	position: relative;
}

div .row {
    padding: 5% 0;
}

.dark {
    background-color: #f1f1f1;
}

.row {
    margin-left: 15px;
    margin-right: 15px;
}

section#main {
	background: linear-gradient(150deg, #f37 10%, #ff3377db 20%, #ff334485 70%);
	color: white;
	height: 65vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	text-align: center;
}

section#main h1 {
	font-family: Europa;
	font-size: 4.5rem;
	font-weight: 600;
	letter-spacing: -0.1rem;
	margin: 1rem 0 0;
}

section#main h3 {
	font-family: Europa;
	font-size: 1.5rem;
	font-weight: 200;
	margin: -0.3rem 0 0;
}

section#main .header-buttons {
	margin: 2rem 0 0;
}

a.button {
	color: white;
	text-decoration: none;
	display: inline-block;
	padding: 0.75rem 1.5rem;
	border: 1px solid white;
	margin: 0 0.5rem;
	border-radius: 0.3rem;
	transition: all 0.2s ease-in-out;
}

a.button:hover {
	color: #f35;
	background-color: #eee;
}

a.button.emphasis {
	color: #f35;
	background: #fff;
	transition: all 0.2s ease-in-out;
}

a.button.emphasis:hover {
	background: #eee;
}

/*Anish, this thing is called a grid. *please* use it.*/
.container,
.row {
  *zoom: 1;
}

.container:before,
.row:before, .container:after,
.row:after {
  content: " ";
  display: table;
}

.container:after,
.row:after {
  clear: both;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  width: auto;
  max-width: 100%;
  height: auto !important;
}

.container {
  width: 90%;
  margin: 0 auto;
}

[class*='column-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px;
}

footer {
  background: #d63550d9;
  color: #fff;
  width: 100%;
}

footer div .table {
  display: table;
}

footer div .table-cell-center{
  display: table-cell;
  vertical-align: middle;
  margin: auto;
  top: 50%;
}

footer .do img {
    width: 70%;
    height: auto;
    padding: 0;
}


@media only screen and (min-width: 30em) {
  .container {
    width: 95%;
    max-width: 70em;
  }
  .column-1 {
    width: 8.33333%;
  }
  .column-2 {
    width: 16.66667%;
  }
  .column-3 {
    width: 25%;
  }
  .column-4 {
    width: 33.33333%;
  }
  .column-5 {
    width: 41.66667%;
  }
  .column-6 {
    width: 50%;
  }
  .column-7 {
    width: 58.33333%;
  }
  .column-8 {
    width: 66.66667%;
  }
  .column-9 {
    width: 75%;
  }
  .column-10 {
    width: 83.33333%;
  }
  .column-11 {
    width: 91.66667%;
  }
  .column-12 {
    width: 100%;
  }
}
