body{
  background: #f8f8f8;
}
header {
  color: #f37;
  background: #fff;
}
section{
  padding: 2em 0;
  width: 100%;
}
section.mast{
  padding-top: 100px;
  background: #fff;
}
section.mast h1{
  padding-left: 0.5em;
  font-size: 2rem;
}
.card {
	background: white;
	margin-bottom: 2em;
}

.card a {
	color: black;
	text-decoration: none;
  background-color: #fff;
  transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.06);
}

.card a:hover {
  background-color: #fff;
  transform: translate(0, -20px);
  box-shadow: 0 40px 40px rgba(0, 0, 0, 0.16);
}

.card-content {
	padding: 1.4em;
}

.card-content h2 {
	margin-top: 0;
	margin-bottom: .5em;
	font-weight: normal;

}

.card-content p {
	font-size: 95%;
  background-color: #fff;
}

img {
  width: 100%;
  height: auto;
}

.submenu {
  position: absolute;
  top: 5rem;
  right: calc(50% - 512px);
  background: #ffffffdd;
  display: flex;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
}

.submenu.visible {
  pointer-events: all;
  opacity: 1;
}

/* Flexbox styles */
@media screen and (min-width: 40em) {
  .cards {
    margin-top: -1em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .card {
    margin-bottom: 1em;
    display: flex;
    background-color: #f8f8f8;
  }
} /* mq 40em*/

@media screen and (min-width: 60em) {
  .cards {
    margin-top: inherit;
  }

  .card {
    margin-bottom: 2em;
    display: flex;
  }
} /* mq 60em*/
