body{
  background: #fff;
}
header {
  color: #f37;
  background: #ffffffc7;
  border-bottom: 1px solid #eee;
}
section{
  padding: 6em 0 0 0;
  width: 100%;
}
section.mast{
  padding-top: 100px;
  background: #fff;
}
section.mast h1{
  padding-left: 0.5em;
  font-size: 2rem;
}

section.mast.workshops-mast {
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    background-image: url(/img/five.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
}

section.mast.workshops-mast div.container h1 {
    background: #fc546fab;
    color: white;
    display: inline-block;
    padding: 2rem 3rem;
    font-size: 4rem;
    border-radius: 1rem;
}

.card {
	background: white;
	margin-bottom: 2em;
}

.card a {
	color: black;
	text-decoration: none;
  background-color: #fff;
  transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.06);
}

.card a:hover {
  background-color: #fff;
  transform: translate(0, -20px);
  box-shadow: 0 40px 40px rgba(0, 0, 0, 0.16);
}

.card-content {
	padding: 1.4em;
}

.card-content h2 {
	margin-top: 0;
	margin-bottom: .5em;
	font-weight: normal;

}

.card-content p {
	font-size: 95%;
  background-color: #fff;
}

img {
  width: 100%;
  height: auto;
}

.submenu {
  position: absolute;
  top: 5rem;
  right: calc(50% - 512px);
  background: #ffffffdd;
  display: flex;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
}

.submenu.visible {
  pointer-events: all;
  opacity: 1;
}

.workshops article.card,
.workshops article.card > * {
  position: relative;
}

.workshops article.card img {
  display: block;
  transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
}

.workshops article.card:hover img {
  transform: scale(1.05);
}

.workshops article.card .workshop-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  transition: all 150ms cubic-bezier(0.02, 0.01, 0.47, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 1.25rem;
  box-sizing: border-box;
}

.workshops article.card a {
  box-shadow: none;
}

.workshops article.card a:hover {
  transform: none;
}

.workshops article.card a:hover figure {
  filter: brightness(200%);
}

.workshops article.card:hover .workshop-info {
  background: rgba(0,0,0,0.35);
}

.workshops article.card {
  text-align: center;
  overflow: hidden;
}

.workshops article.card figure {
  overflow: hidden;
}

.workshops article.card h3 {
  font-size: 2rem;
  font-style: italic;
  font-family: 'Georgia', serif;
  margin-bottom: 0.5rem;
  font-weight: normal;
}

.workshops article.card .date {
  font-size: 1.33rem;
}

/* Flexbox styles */
@media screen and (min-width: 40em) {
  .cards {
    margin-top: -1em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .card {
    margin-bottom: 1em;
    display: flex;
  }
} /* mq 40em*/

@media screen and (min-width: 60em) {
  .cards {
    margin-top: inherit;
  }

  .card {
    margin-bottom: 2em;
    display: flex;
  }
} /* mq 60em*/
