<h1>Collatz Sequence</h1>
<p>Eve just found out that if you do certain operations on a number, it can return to 1 within finite steps.<br><br>

If the number is even you need to divide by 2 (n/2) otherwise if its odd you need to multiply by 3  and add 1 ((n*3) + 1). For example:
</p>

<pre>20 → 10 → 5 → 16 → 8 → 4 → 2 → 1 </pre>

<p>This sequence contains 8 terms. Eve wants to find out how many terms would the sequence contain if she starts with 150. Since she is too tired to do it by hand, she seeks your help to automate the process with your coding skills.</p>