<h1>Collatz Sequence</h1>
<p>Eve just found out that if you do certain operations on a number, it can return to 1 within finite steps.<br><br>

If the number is even you need to divide by 2 <a id="w1" href="#" onclick="return false;"><b>(how?)</b></a><span id="p1" class="hidden">(n/2)</span> otherwise if its odd you need to multiply by 3 and add 1.<a id="w2" href="#" onclick="return false;"><b>(how?)</b></a><span id="p2" class="hidden">((n*3) + 1)</span> For example:
</p>

<pre>20 → 10 → 5 → 16 → 8 → 4 → 2 → 1 </pre>

<p>This sequence contains 8 terms. Given an input tell how many terms would it take to reach 1.</p>