<h1>Collatz Sequence</h1>
<p>Eve just found out that if you do certain operations on a number, it can return to 1 within finite steps.<br><br>

If the number is even you need to <a id="w1" href="#" onclick="return false;"><b>divide by 2 </b></a><span id="p1" class="hidden">(n/2)</span> otherwise if its odd you need to <a id="w2" href="#" onclick="return false;"><b>multiply by 3 and add 1. </b></a><span id="p2" class="hidden">((n*3) + 1)</span> For example:
</p>

<pre>20 → 10 → 5 → 16 → 8 → 4 → 2 → 1 </pre>

<p>This sequence contains 8 terms. Eve wants to find out how many terms would the sequence contain if she starts with 150. Since she is too tired to do it by hand, she seeks your help to automate the process with your coding skills.</p>