<h1>Input</h1>
<p>
	Up to this point, we’ve learnt how to make the computer display things and give us various outputs. Now, we will learn how to feed information into the computer.
	<br> <br>

	Python has an interesting feature called `input()`. Judging from its very name, input() is pretty self explanatory. When the program runs and it reaches a line with `input()` on it, it stops and waits till the user inputs in a value into the computer. This input can then be saved to a variable. <br> <br>

	<pre>
name = input("What’s your name?") 
# waits till the user enters an input
print("Hello!")
print(name)
	</pre>
</p>


<p>
	In this above example, we create a variable called ‘name’ and request the computer user to input a name into the computer. After the user inputs a name and presses the <b>Enter</b> key on their keyboard, whatever name they have written is automatically saved to the created variable, ‘name’.
</p>


<h2>Question</h2>

<p>
	Eve wants to automate the computer in her bakery to greet her customers. Write a program which asks the customer for their name and then greets them in the following format: <br> <br>

	"Welcome to the bakery," <br>
	"Eve" #This is the inputted name!
</p>