<h1>Roman Numerals</h1>
<p>Eve has a math test tomorrow, the topic being tested is Roman Numerals. She has trouble understanding it, thus has to look at multiple examples. Help her by making a program that converts numbers into Roman Numerals. Keep in mind some of the rules listed below:</p>

<ol>
	<li>
		Use the following symbols:
		<br><br>
		<table>
			<tr>
				<th>Roman Numeral</th>
				<th>Numeric Form</th>
			</tr>
			<tr>
				<td>I</td>
				<td>1</td>
			</tr>
			<tr>
				<td>V</td>
				<td>5</td>
			</tr>
			<tr>
				<td>X</td>
				<td>10</td>
			</tr>
			<tr>
				<td>L</td>
				<td>50</td>
			</tr>
			<tr>
				<td>C</td>
				<td>100</td>
			</tr>
			<tr>
				<td>D</td>
				<td>500</td>
			</tr>
			<tr>
				<td>M</td>
				<td>1000</td>
			</tr>
		</table>
		<br><br>
	</li>
	<li>Only I,X,M and C can be repeated thrice.<br><br></li>
	<li>
		Only the following subtractions can occur:
		<br><br>
		
		<table>
			<tr>
				<th>Roman Numeral</th>
				<th>Numeric Form</th>
			</tr>
			<tr>
				<td>IV</td>
				<td>4</td>
			</tr>
			<tr>
				<td>IX</td>
				<td>9</td>
			</tr>
			<tr>
				<td>XL</td>
				<td>40</td>
			</tr>
			<tr>
				<td>XC</td>
				<td>90</td>
			</tr>
			<tr>
				<td>CD</td>
				<td>400</td>
			</tr>
			<tr>
				<td>CM</td>
				<td>900</td>
			</tr>
		</table>
		<br><br>
	</li>
</ol>