<h1>Roman Numerals</h1>
<p>Eve has a math test tomorrow, the topic being tested is Roman Numerals. She has trouble understanding it, thus has to look at multiple examples. Help her by making a program that converts numbers into Roman Numerals. Keep in mind some of the rules listed below:</p>

<ol>
	<li>
		Use the following symbols:
		<br><br>
		<img src="/img/illustrations/table1.png" style="max-width: 90%">
		<br><br>
	</li>
	<li>Only I,X,M and C can be repeated thrice.<br><br></li>
	<li>
		Only the following subtractions can occur:
		<br><br>
		<img src="/img/illustrations/table2.png" style="max-width: 90%">
		<br><br>
	</li>
</ol>