<h1>Roman Numerals</h1>
<p>Eve has a math test tomorrow, the topic being tested is Roman Numerals. She has trouble understanding it, thus has to look at multiple examples. Help her by making a program that converts numbers into Roman Numerals. Keep in mind some of the rules listed below:</p>

<ol>
	<li>
		Use the following symbols:
		<img src="/img/illustrations/tableek.png">
	</li>
	<li>Only I,X,M and C can be repeated thrice.</li>
	<li>
		Only the following subtractions can occur:
		<img src="/img/illustrations/tabledo.png">
	</li>
</ol>